[2011-12-16 11:50] amirhabibi opened #2 "Php notices"
When testing the class, I had two php notices ("Notice: Use of undefined constant safe - assumed 'safe' in").

After investigation, you must replace (2 times) :

[code]

by :

[code]

Very nice project !

[2011-12-16 11:56] amirhabibi opened #3 "Checkdnsrr function in validate_url_exists"
Before PHP 5.3.0 the checkdnsrr function didn't exist on Windows platforms.

See : http://php.net/manual/en/function.checkdnsrr.php

A small check or an alternative may be useful.

[2011-12-16 12:27] #3 closed, assigned to sn

[2011-12-16 13:58] #2 closed, assigned to sn

[2012-01-17 09:34] ben-s opened #4 "Special characters (accents) not managed in alpha & alpha_numeric validators"
Hi,
I'm using your great class for a subscription form on my website.
Everything is working well, but I'm designing french websites and I need to accept accentuated characters for alpha and alpha_numeric validators.

Here are my own versions of the default gump validators :
<code>protected static function validate_alpha($field, $input, $param = NULL)
    {
        if(!isset($input[$field]))

[2012-01-17 09:43] ben-s opened #5 "what about a "name" validator ?"
I'm new to github and I didn't find how to pull new requests, so I'm sharing a validator that has been useful to me.

I'm devleopping a new subscription form on my website and want to check if the firstname and lastname are correctly typed in.
For my French website, I need to accept alpha characters, spaces, dashes (but not underscores), apostrophes and accentuated characters

For this, I have cre

[2012-01-17 13:07] ben-s opened #6 "Validator method '$method' does not exist."
I'm trying to create my create your class that extends the GUMP class, but I can't get my FormValidation::vaildate() method working.

I added my own validate method :
<code>
require_once('gump.class.php');

class FormValidation extends GUMP
{
public static function validate_alpha_dash_space_apo($field, $input, $param = NULL)
    {
        if(!isset($input[$field]))
        {
            return;

[2012-01-17 15:37] #4 closed, assigned to nobody

[2012-01-17 15:45] #5 closed, assigned to nobody

[2012-01-17 15:45] #6 closed, assigned to nobody

[2012-01-18 09:00] ben-s opened #7 "Small mistake in the regexp for validate_alpha_dash and validate_valid_name"
Hi,
In the corrections you made yesterday, I can see a small mistake in the regexp for both methods validate_valid_name and validate_alpha :
<code>if(!preg_match("/^([-a-z0-9ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïðòóôõöùúûüýÿ_-])+$/i", $input[$field]) !== FALSE)</code>

As you can see, the first dash is unseless since it is given at the end of the regexp.

[2012-01-18 09:15] ben-s opened #8 "Quotes on validate_valid_name method"
As I suggested previously, it would be fine to be able to validate lastnames like "O'Hara".
The validate_valid_name aims to meet this requirement, but it fails when a simple quote is found.

I managed to get it working by adding the FLAG_NO_ENCODE_QUOTES flag to the filter_var() function in the sanitize() method and in the sanitize_string() filter.

Without this flag, the simple quote would be enc

[2012-01-20 17:08] #7 closed, assigned to nobody

[2012-06-05 13:31] niraviflair opened #9 "mysql_real_escape_string"
mysql_real_escape_string this function not working in your sanitize all post values. I want to use mysql_real_escape_string to sanitize all the input for mysql inject attack.

[2012-06-06 08:38] #9 closed, assigned to nobody

[2012-09-24 16:31] jaschreiber opened #10 "Error Handling Example"
Thanks for writing this class... It works  very well! Could you please provide an example of how to display custom error messages in the event that the validation fails? I'm having trouble figuring out what to do with the array that is returned in this case.

[2012-09-24 19:12] #10 closed, assigned to sn

[2012-12-18 20:58] Sequoia opened #11 "No way to augment readable_errors"
The example for (creating your own validators)[https://github.com/Wixel/GUMP#creating-your-own-validators-and-filters] explains how to add validators, but there appears to be no way to augment the list of error messages in `get_readable_errors` which is not a list at all but a series of strings in a switch block.  This means extending GUMP to add validators requires one to **stop using `get_readab

[2013-04-09 06:03] markslingsby opened #12 "Ipv4 vs IPv6"
ipv4 vs ipv6 address validation is important to differentiate between.
This IP validator probably need to be extended slightly to accomodate 3 cases. Valid IP, Valid IPv4, Valid IPv6.

[2013-04-11 07:45] #12 closed, assigned to sn

[2013-05-29 22:55] doublemarked opened #13 "Sanitize indiscriminately encodes content"
The sanitize() function is indiscriminately encoding content to UTF-8. This is a problem when content is already encoded as UTF-8.

The sanitize() function needs some sort of flag for encoding.

[2013-05-31 15:21] #13 closed, assigned to sn

[2013-09-22 20:40] roydekleijn opened #14 "trigger error on too many POST fields"
Hello,

Can we also trigger an error if there are too many fields to validate?

Let's say we have 4 fields to validate, but only 3 rules are specified. This should trigger an error or the field without rule should be left out of the  $gump->run($_POST) return array.

What do you think? or is it already possible?
Roy

[2013-10-23 18:03] marioestradarosa opened #16 "Parse error: syntax error, unexpected '"'"
I have just extracted the full package and found the following error.

Parse error: syntax error, unexpected '"' in C:\wamp\www\wh\lib\gump.class.php on line 27

I noticed that the code assigns some strings to the  public static $en_noise_words variable,  specially the problem to my understanding is the $ in the assignment, which removed solves the error but of course the GUMP package won't work w

[2013-10-23 18:26] #16 closed, assigned to nobody

[2013-10-24 10:04] #14 closed, assigned to nobody

[2013-10-25 22:16] guimafx opened #18 "How to validade DATE ?"
Hello, to validade a DATE 'YYYY-MM-DD' ?
Thanks
Guilherme Viana

[2013-10-27 11:26] #18 closed, assigned to nobody

[2013-10-31 20:22] cezarlz opened #20 "Custom messages?"
I live in Brazil. How can I show Custom Messages?

[2013-12-05 23:16] iautom8things opened #22 "Why does "0" (zero) fail on integer validation?"
Is this by design, or a bug?

[2013-12-06 05:32] #22 closed, assigned to nobody

[2013-12-11 23:33] resno opened #29 "Notice in method validate_contains"
The method validate_contains does not check if $input[$field] is set before trying to trim it:

[code]
My suggestion to fix it:
[code]

[2013-12-22 22:06] ib4 opened #30 "Using only isset() and empty() function slips the value zero through validators"
I have tested multiple validate functions with the string value '0' and integer 0 which evaluates to true in the empty() function. I checked the docs which states:

_Returns FALSE if var exists and has a non-empty, **non-zero** value. Otherwise returns TRUE._

Noticed this when using validate_required and passing a zero - which, for this function, failed when it should have passed.

Most likely it

[2014-01-14 00:17] ghost opened #31 "Custom Form Validation"
Great script. I've been looking for a good form validation class for a while.

A couple of suggestions:
1. I want to be able to easily output error messages next to the form field(s) that have caused the error. It would be nice if the script could return a multidimensional array with the field name as the key. E.g. $returnarray['fieldname'] = array("Formatted Error Message 1", Formated Error Messa

[2014-02-06 05:26] ghiscoding opened #32 "url_exists fail on a valid URL"
I am trying GUMP on a new project and love it so far, though I use `url_exists` which work in most cases but now today I get a non working URL for some reason and it is a valid website as I went on it, you can try it by yourself: http://charts.equityclock.com/

I also call the sanitize on my field $post, but I send the data through JSON anyway and with or without the sanitize doesn't change much i

[2014-02-18 11:04] ghost opened #33 "No checks for empty non-required fields"
Nice PHP tool for verifying HTML forms or other objects! Only, in my opinion a field which is not required and is empty, should not be checked for any other rules. Therefore, I added the following IF statement in function validate():

[code]

Maybe this change can be added to the version in the repository.

Regards,
Frans

[2014-03-05 16:40] ghost opened #34 "whole number would be great"
i add this manually and it seems to work?

GUMP::add_filter("whole_number", function($value, $params = NULL) {
        return filter_var($value, FILTER_SANITIZE_NUMBER_FLOAT, FILTER_FLAG_ALLOW_FRACTION);
    });

great job, cheers!

[2014-04-09 22:02] mcbmcb0 opened #37 "customize readable errors"
Hi
it would be great to 'humainze' the readable errors by (possibly) setting an array of $field => $field_label so that:
   public function get_readable_errors(...) {...

could return the message with a field label, not the field. e.g.:
 instead of  'The Name 1 field may only contain alpha-numeric characters'
return  'The Username field may only contain alpha-numeric characters'

and return the ar

[2014-04-18 08:29] mcbmcb0 opened #38 "docs don't mention that custom validators should return array if invalid"
the docs mention that custom validations using GUMP::add_validator should return a boolean. just below this the docs mention extending the class with callable functions but doesn't specify what these functions should return. I'd assumed it would also be boolean but when that didn't work found in GUMP that callable validation functions require a returned array when invalid:

[code]

perhaps this is

[2014-04-22 10:33] ghaecker opened #39 "Syntax error in credit_card.php example"
examples/credit_card.php, line 10 is missing a semicolon.  Easy enough to fix locally, but I thought you may want to fix it in the distribution.

[2014-06-09 20:08] mtorniai opened #40 "Outdated documentation"
As far as I see the only documentation is the readme.markdown and it's outdated. Is this project still alive and any chance of updating the documentation with full list of available validators and filters?

[2014-06-10 05:51] #40 closed, assigned to nobody

[2014-06-10 05:53] #39 closed, assigned to nobody

[2014-06-10 06:47] #38 closed, assigned to nobody

[2014-06-10 07:53] #34 closed, assigned to nobody

[2014-06-10 07:56] #33 closed, assigned to nobody

[2014-06-10 08:15] #32 closed, assigned to nobody

[2014-06-25 15:15] scazzy opened #42 "Nested Post request data?"
How do you handle field name keys if the POST request data is in array,
eg: $_POST = ['user']['name], ['user']['email'], ['company']['name], etc

[2014-06-25 15:37] scazzy opened #43 "Custom Field names in Readable errors"
If you're a developer, you'd surely not write your form field name as 'address' or 'full name' as it is. Different by different developer. Say I use 'addr' for address field and 'fname' for First name, and if the fields are incorrect it says 'Addr is required', 'Fname' is required.

Instead, there should be option to give readable 'field name' while defining validators; then I guess even custom er

[2014-06-26 15:00] #43 closed, assigned to nobody

[2014-07-06 07:44] staticglitch opened #44 "Alternative shorthand syntax"
Hi, since you are working on a new version, I want to propose alternative shorthand (backwards compatible). This is a bit more semantically readable and allows for filtering. A space can not be used in a field name, so no conflicts writing 'trim username'.

[code]

[2014-07-07 05:45] mirhmousavi opened #45 "UTF-8 strings validation"
hello
thanks fot your awesome validation library
if i want to validate a string that contains german characters, should i use use sanitize before that(for converting to utf-8)?or there is no problem for utf-8 strings validation?
thanks

[2014-07-30 14:47] thepurpleblob opened #47 "When creating custom validators is there some way to specify custom error messages?"
At the moment you only seem to be able to have 'fieldname is invalid'. This is rarely particularly helpful to the end user. Thanks!

[2014-08-06 20:22] groucho75 opened #48 "sanitize() 2nd parameter is useful for active record or ORM"
Usually I use an active record class or an ORM to make my queries. E.g. to update the query is something like:

[code]

In this case I have to be sure that the `$update` array contains only keys that match table columns, and nothing more.
So I found that you can "whitelist" the submitted data passing an array of allowed keys/columns as 2nd parameter `sanitize()` method. All the array keys not incl

[2014-08-08 19:52] roydekleijn opened #49 "regex validator"
Hi,

Is it a good idea to introduce a regex validator?

[2014-09-18 22:56] jasonlav opened #52 "Boolean validation does not work properly."
The `boolean` validator will accept virtually any value. In fact, I have yet to ever seen it fail. According to the documentation it is supposed to accept `true`, "true", "yes", 1, `false`, "false", "no", and 0. However, in my testing it accepts anything including "nada"...

[2014-09-23 14:09] ericfavoni opened #53 "replace multiple field name"
Hi,
Thanks For Amazing Library.
for add field name in docs i see this :

GUMP::set_field_name("str", "Street");

for multiple field name GUMP how to work ?!

"str","street"
"tit","title"
and more ....

Thanks For Your time .

[2014-10-03 18:40] #45 closed, assigned to nobody

[2014-10-24 22:09] akobrina opened #56 "Validation by alpha fails if the field contains spaces"
The regular expression for the alpha rule looks as follows:
!preg_match("/^([a-zÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÒÓÔÕÖÙÚÛÜÝàáâãäåçèéêëìíîïðòóôõöùúûüýÿ])+$/i", $input[$field]

However, this creates a problem if the field contains spaces, e.g. two words. I had to update the code to include the spaces as valid characters to avoid being given an error. Here is my updated reg ex:
!preg_match("/^([a-zÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÒÓÔÕÖ

[2014-11-19 17:16] borko1945 opened #58 "The result of validators added using add_validator() method not handled correctly."
1) Handling a validator which is a member of the class:
$result = $this->$method($field, $input, $param);

if(is_array($result)) // Validation Failed
{
	$this->errors[] = $result;
}

2) Handling of validators via add_validator() method:
$result = call_user_func(self::$validation_methods[$rule], $field, $input, $param);

if (!$result) // Validation Failed
{
	$this->errors[] = array(
		'field' => $f

[2014-11-23 03:24] rwitchell opened #60 "max_len poorly worded"
I feel the max_len needs to be re-written in the master version.
For example, a postcode is 4 digits, max_len,4
The output is: The postcode field needs to be shorter than 4 characters.
Which is incorrect, it needs to be 4 or less characters.

Either, the wording needs to change to "field needs to be $param or shorter in length"
or you need to increase the $param by one, as shown below.

[code]

[2014-11-24 10:04] rwitchell opened #63 "$result overwritten immediately"
unsure how to fix, but i thought i'd bring this to your attention:
line 354
[code]

[2014-12-01 04:18] johnstontrav opened #66 "custom validator error"
Hi,

Fresh git clone and then run:

RUN php custom_validator.php
PHP Fatal error:  Call to undefined method GUMP::validate_is_object() in /Users/trav/tm/test/GUMP/gump.class.php on line 360

Cheers,
Trav.

[2015-01-09 01:44] Drive4ik opened #71 "error when add validator"
This code
[code]

error on line 360 in gump.class.php in latest revision: 5687aac3ff1a17d8baaea6b65e12c080e62e8878

[2015-01-09 01:50] Drive4ik opened #72 "please, add support cyrillic"
Please, add to your regexp "alpha, alpha_numeric, etc." ex:

[code]

replace to

[code]

[2015-01-10 15:03] sineld commented on #53
Please use my commit.

[2015-01-10 19:32] saqwild opened #73 "Validating Captcha"
Hi,
I am using wordpress with a captcha plugin installed
The plugin function to validate captcha is as below,

[code]

and the inuput field is generated like this,

[code]

is there a way I can make a custom validation to validate the cpatcha filed?

Thanks

[2015-01-12 13:46] Sensetivity opened #74 "Check for boolean value always returns "true""
For example
$a = array('lol' => '8888888');
$r = array('lol' => 'boolean');
$is_valid = GUMP::is_valid($a, $r);
var_dump($is_valid);

returns boolean true

[2015-01-13 00:33] #71 closed

[2015-02-12 00:35] nicklozon commented on #58
Custom validators are supposed to return boolean, not an array.

Also, custom validators are stored in the $validation_methods array, so the original $result assignment is correct, although call_user_func is not required.

[2015-02-12 00:43] nicklozon commented on #66
Issue #58 was created suggesting that custom validators were being called and results incorrectly assigned. This really is a non-ssue - custom validators are stored in a static class array, and they return boolean.

This PR was created to fix the issue, which actually breaks custom validators: https://github.com/Wixel/GUMP/commit/8d2ae7b4539d0ed48383bb80f87d80098fecc24e

[2015-03-09 22:27] mscreenie commented on #42
Any updates on this?

[2015-03-10 09:17] mscreenie opened #80 "Multi-Dimensional or Nested Arrays?"
Our '$_POST' is nested, is it possible to use GUMP to access variables on second levels?

Like this?

[code]

There is no docs covering this, seems strange to not have implemented support.

[2015-03-19 11:24] lcherone opened #81 "Please add money format / numeric_dot"
For example:
0.00
1.23
0.10

Cheers.

[2015-03-30 12:15] jewelhuq opened #82 "How to add custom validation funcation error text"
public function checkPasswordStrength($candidate) {
        $r1='/[A-Z]/';  //Uppercase
        $r2='/[a-z]/';  //lowercase
        $r3='/[!@#$%^&*()-_=+{};:,<.>]/';  // whatever you mean by 'special char'
        $r4='/[0-9]/';  //numbers

[code]

}

[code]

Now my question if strong validator return false i would like to show the error as "You password is not strong,you need to add improve it" h

[2015-04-06 20:39] alanmanderson opened #83 "Add GUID V4 validator"
It would be nice to be able to validate guids.  In particular GUID V4

[2015-04-09 19:05] tobsn opened #84 "whitelist sanitization broken"
$G = new GUMP();
	$data = $G->filter( $G->sanitize( $_POST, ['url','name'] ),[
		'url' => 'trim|sanitize_string',
		'name' => 'trim|sanitize_string',
	]);
	print_r( $data );

if I submit a field "something" in the post, it is still available in the print_r

[2015-04-09 19:14] tobsn commented on #84
nevermind, that was fixed here:
https://github.com/Wixel/GUMP/commit/e128013a0dfb3196691dd83f2525955f8fa9b4a9

for some reason composer checks out an old version.

[2015-04-09 19:14] #84 closed

[2015-04-10 16:17] weogrim commented on #4
Hi,

I try add polish chars to validation rules. I modifet rules, for example:

[code]

i try edit modified to iu, but i alwas have 500 in ajax request

Can you provide regex with polish chars: ą ę ć ł ń ó ś ż ź Ą Ę Ć Ł Ń Ó Ś Ż Ź ?

[2015-04-13 12:33] Gummy47 opened #85 "IBAN validator missing 'B' character"
The IBAN validator "validate_iban" uses a local array of characters. As you can see, only the letter "B" is missing, which renders all belgian IBAN invalid. I assume it has been overlooked accidentally.

[2015-04-16 12:23] ondrejkajinek opened #86 "numeric validations fail for zero values"
some validating functions produce false positives since valid zero values are evaluated as false

in particular:
validate_integer, validate_float

patch:
[code]

[2015-04-19 00:07] joshwinter opened #87 "add_validator"
Hello,

Would you be able to quick take a look at the custom validator to see if it's working? I'm not getting any result returned in the example.

Thanks!

[2015-04-30 09:47] schliden opened #89 "Sanitize selected fields"
Is it possible to sanitize selected fields, from $_POST.

For example, if the 'content' field in the form post contains legitimate html markup, it would be useful to exclude that field from the sanitzer rather than do this:

  // Preserve the legitimate html markup in content
  $content = $_POST["content"];
  // Sanitise
  $_POST = $validator->sanitize($_POST);
  // replace santised content with o

[2015-04-30 17:55] NekoKetsu commented on #89
[code]

I wrote that fast i hope it will help you

[2015-06-05 17:00] lifesound commented on #89
Very powerful class i recomend it

[2015-06-06 04:33] Ataurr opened #90 "Is it possible to validate confirm email ?"
Hi there
i have tried to validate confirm email.
email match with confirm email. Is it possible with gump ??

Thanks

[2015-06-09 09:43] kevdotbadger opened #92 "Getting a value from a failed or passed attribute"
Hello, I'm using this for a form, and I want to prepopulate the fields from the filtered values, not worrying if they passed the validator or not. Is this possible, or do I have to stick with ,`<?php echo (isset($_POST['field']) ? $_POST['field'] : ''; ?>`.?

[2015-06-09 12:38] NekoKetsu commented on #92
You mean this ?
[code]

[2015-06-09 16:18] NekoKetsu commented on #90
equalTo: '#id'

[2015-06-10 09:56] dingdejing commented on #84
$field = str_replace(array('_','-'), chr(32), $e['field']);
            $param = $e['param'];

            // Let's fetch explicit field names if they exist
            if(array_key_exists($e['field'], self::$fields)) {
                $field_name = self::$fields[$e['field']];
            } else {
                $field_name = ucwords($field);
            }

            switch($e['rule']) {

[2015-06-18 15:27] dstankovd opened #94 "min_numeric validation problem"
Hey!

I'm using validate_min_numeric (with min_numeric,0.01) and the field I'm validating contains 0, the validation is returning no errors. This is because empty(0) is true (in function validate_min_numeric). Can you please fix this in next version?

Thanks!

[2015-06-20 08:45] shuxx opened #95 "translation"
Hello why not translate errors messages ?
i'm volonter for french :)

[2015-07-09 21:18] joseluisq opened #96 "Add array validation support (enhancement)"
Is it possible to add array validation for input values?
Here my Form Data:
[code]
In this case `tracks[]` is an array.

[2015-07-09 21:27] pl4g4 commented on #96
that can be added. not sure if the developer will add it. I added some new features and still waiting for them to be added.

Hay una forma si kieres te paso un codigo y la puedes implementar vos.

[2015-07-10 19:03] joseluisq commented on #96
I understand it. In fact, I saw the stack pending of pull requests :smile:
@pl4g4 Claro porque no podría revisar el código y hacer un pull request.

[2015-07-27 19:49] eko3alpha opened #98 "alpha_space not in composer"
When will the newest version of this library containing the alpha_space validation be available for composer?  Currently I have to manually include this in my project, however I would like to use composer.

Thanks!

[2015-07-31 10:42] hcvitto commented on #96
Any news about this?

[2015-08-03 01:06] Hirbod commented on #95
me for german

[2015-08-05 23:01] SeanNieuwoudt commented on #98
The update should be in composer now.

[2015-08-05 23:01] #98 closed

[2015-08-05 23:02] SeanNieuwoudt commented on #96
He revisado la solicitud de extracción. I've merged it.

[2015-08-05 23:02] #96 closed

[2015-08-05 23:04] SeanNieuwoudt commented on #95
Great! If you go through the error fields in the code and create the translated error text, I'll gladly create a mechanism for it.

[2015-08-05 23:07] joseluisq commented on #96
:+1

[2015-08-05 23:12] SeanNieuwoudt commented on #94
Good catch! I've fixed it - let me know if you have any other problems.

[2015-08-05 23:12] #94 closed

[2015-08-05 23:14] Hirbod commented on #95
First of all:

29 languages with (noise/stopwords)
https://code.google.com/p/stop-words/

[2015-08-05 23:17] Hirbod commented on #95
Second:

I guess it should be the better way when you provide the mechanism first. Currently, your validation text is hardcoded. So if I translate it, I would duplicate that file, change all the strings and send it to you. You will have to copy&paste everything into your new mech. I guess you should provide some kind of language files (maybe I18n based) and use formatters, include the mech, publis

[2015-08-05 23:20] SeanNieuwoudt commented on #92
There's a new method that's been added: GUMP::field($key, array $array, $default = null);

You can use it like this:

    <?=  GUMP::field('field', $data, "a default value (optional)"); ?>

[2015-08-05 23:20] #92 closed

[2015-08-05 23:22] SeanNieuwoudt commented on #95
Good point - Ok, I'll work on adding some kind of extendible mechanism to facilitate the translation process. Give me a few days to put that together though.

[2015-08-05 23:36] SeanNieuwoudt commented on #90
This should get you what you are looking for:

     $data = array(
       'username'         => "myusername",
       'password'         => "mypassword",
       'password_confirm' => "mypa33word",
     );

     $is_valid = GUMP::is_valid($data, array(
     	'username'         => 'required|alpha_numeric',
     	'password'         => 'required|max_len,100|min_len,6',
       'password_confirm' => 'equ

[2015-08-05 23:36] #90 closed

[2015-08-05 23:39] SeanNieuwoudt commented on #89
The sanitize method has the following signature:

    GUMP::sanitize(array $input, $fields = null, $utf8_encode = true);

You'll notice there's a second optional parameter to specify an array of fields to explicitly process.

[2015-08-05 23:39] #89 closed

[2015-08-05 23:42] SeanNieuwoudt commented on #86
Thanks - this should be fixed in the latest release.

[2015-08-05 23:42] #86 closed

[2015-08-05 23:42] SeanNieuwoudt commented on #86
Thanks! this should now be fixed

[2015-08-05 23:45] SeanNieuwoudt commented on #85
Good catch! I've updated the character matrix with the B character.

[2015-08-05 23:45] #85 closed

[2015-08-05 23:54] SeanNieuwoudt commented on #83
I've added a validator for this (v4 for now).

     $data = array(
       'guid' => "A98C5A1E-A742-4808-96FA-6F409E799937"
     );

     $is_valid = GUMP::is_valid($data, array(
     	'guid' => 'required|guidv4',
     ));

     if($is_valid === true) {
     	// continue
     } else {
     	print_r($is_valid);
     }

[2015-08-05 23:54] #83 closed

[2015-08-05 23:56] SeanNieuwoudt commented on #82
There's a slight logical flow within GUMP that's tripping your code up a bit. A validation function MUST return nothing if it's successful and an array containing some information when it fails.

The failure return array looks like this:

        return array(
            'field' => $field,
            'value' => $input[$field],
            'rule' => __FUNCTION__,
            'param' => $param,

[2015-08-06 00:04] SeanNieuwoudt commented on #74
You are right, the bool checks are not working as they should be. I've fixed this - let me know if you have any other issues.

[2015-08-06 00:04] #74 closed

[2015-08-06 06:58] #66 closed

[2015-08-06 06:58] SeanNieuwoudt commented on #63
Thanks! I noticed this while I was doing another fix and corrected it.

[2015-08-06 06:58] #63 closed

[2015-08-06 07:06] SeanNieuwoudt commented on #60
I've updated this in the master branch, thanks for pointing it out!

[2015-08-06 07:06] #60 closed

[2015-08-06 07:09] SeanNieuwoudt commented on #56
There's a validator called *alpha_space* that will do this exact thing. Have you tried it?

[2015-08-06 07:09] #56 closed

[2015-08-06 07:09] SeanNieuwoudt commented on #72
Could you explain what exactly that regex does?

[2015-08-06 07:11] SeanNieuwoudt commented on #58
I've updated the code and addressed this issue. Please let me know if there are still problems.

[2015-08-06 07:11] #58 closed

[2015-08-06 07:15] SeanNieuwoudt commented on #52
I've updated the boolean validation to be stricter. Let me know if you are still having issues.

[2015-08-06 07:15] #52 closed

[2015-09-09 12:39] alexcroox opened #101 "get_errors_array returns camel case keys"
The keys of get_errors_array() are camel cased, i.e the pretty output version of the original field names used in error messages. Is there anyway to use the original field names (lower case, dashes etc) without wrapping a strtolower/str_replace(" ", "-", $) around them all as I output into the form?

[2015-09-23 10:30] mayous83 opened #102 "Regex error No ending delimiter '/' found"
/(?=^.{8,}$)(?=._\d)(?=._[!@#$%^&_]+)(?![.\n])(?=._[A-Z])(?=._[a-z])._$/

I get an error trying to validate data with this regex

[2015-09-23 16:38] pl4g4 commented on #102
Hey, try removing the , from your regex.

I bet the change they made to split by commas is breaking the code. I have it to split by &&& .

[2015-09-24 13:27] mayous83 commented on #102
Hi, but the regex doesn't works as I wanted.. by removing the ,

[2015-09-24 19:03] pl4g4 commented on #102
yes, It wont work, can you look at my submit, you can try the version when i added the regex. it might work because i explode using &&&  and not using ,

So your code wont break

https://github.com/Wixel/GUMP/commits?author=pl4g4

[2015-09-25 08:42] mayous83 commented on #102
Thank you so much, it works! bye! :)

[2015-09-25 15:46] pl4g4 commented on #102
This stil a problem which should be fixed. Maybe the owner can take a look at it... changing the delimeter to , breaks to i used &&&

eaf1ef9f01b61c958c4249dfbc36001580603db0  -> look at that

[2015-09-25 18:36] SeanNieuwoudt commented on #102
Thanks for the heads-up! I'll definitely take a look and see what I can do to make this better.

[2015-09-30 17:54] el-timm opened #103 "Option to not force key names to be "readable" in get_errors_array"
Mainly I want to use GUMP in a REST API.  In a REST API, I want the key names to remain untouched whenever there is an error message.

For example, say I have a required parameter `serial_number` as part of that API.

GUMP is by default returning the error message (in array form):
`"Serial Number" : "The Serial Number field is required"`

When in fact, I want it to remain literally the actual key

[2015-09-30 17:56] el-timm commented on #103
It appears this is a duplicate of issue #101

[2015-09-30 18:15] el-timm commented on #103
A workaround for now is to follow up the rules, prior to validation with a statement like this:

`$gump->set_field_name('serial_number', 'serial_number');`

[2015-09-30 18:17] el-timm commented on #101
A workaround for now is to literally set the key name:

`$gump->set_field_name('serial_number', 'serial_number');`

[2015-09-30 22:16] el-timm opened #104 "boolean validation is not working"
According to the documentation the boolean validation:

Test results are below.  You can see that many of the boolean values fail to pass validation, critically [true, 1, false] fail.

(Personally I don't think "on" and "yes" should pass, they are strings not booleans.).  In `gump.class.php`, it might be easier to check all values against the literal types you expect:
`if (in_array($input[$field],

[2015-10-01 16:58] pl4g4 commented on #49
This can be closed. there is already one.

[2015-10-07 16:18] mayous83 commented on #102
Hi, same error for this regex "^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$". This time splitting parameters with | breaks the code.

[2015-10-10 02:47] pl4g4 commented on #102
yes, im aware of that problem, i'll try to solve it next week. | breaks the code

[2015-10-12 07:21] maan81 opened #105 "Validate Array data"
How could I validate array(s) entered thru form ?
[code]

I see this link https://github.com/Wixel/GUMP/issues/96 but could I look at some examples ?

[2015-10-12 07:24] maan81 commented on #96
Could I have a look at some examples where the array validation is being used -- for forms such as :

[code]

[2015-10-15 19:24] MadeNade opened #106 "Html Tags White list"
I work with advanced method:

[code]

In action this good work and sanitize all input data. for story field in need to add html tags like `<p><img><table>` but this class sanitize all $_POST and remove all html tags.

how do can i add white list for html tags?!

[2015-10-21 08:37] pixelpaulaus opened #107 "min_len never works"
min_len never seems to work for me. i havn't changed anything, and everything else works fine.

[2015-11-03 05:56] pl4g4 commented on #105
Hello,

You can validate an array like this

[code]

[2015-11-23 21:21] mallok opened #112 "Adding custom validator breaks required validator."
Hello guys, I have the following data structure:

[code]

In order to validate if groups is an array, i've added a custom validator like this:

[code]

And my rule sets are:

[code]

Lets assume a typo error and consider the following data:

[code]

The thing is when I also want to validate the key as required (in this case `groups`) the required validator is never executed, or at least is not exe

[2015-11-29 21:34] thepurpleblob opened #113 "What's the point of 'boolean' only accepting true values"
"boolean Checks for PHP accepted boolean values, returns TRUE for "1", "true", "on" and "yes""

What about fields that can return 0, 'false', 'off' and 'no'? Unless I am substantially missing something this is pretty much useless.

[2015-12-03 18:48] r34nim4ted commented on #104
I was experiencing issues with this as well. In the native implementation False values will not validate. I was able to resolve this by extending Gump and overriding the native implementation of validate_boolean() as follows:

    protected function validate_boolean($field, $input, $param = null)
    {
        $truthy = array('1','true',true,1,'0','false',false,0);
        if (in_array($input[$fie

[2015-12-04 11:14] codestic commented on #102
The main problem here is the splitting by ",". A lot of expressions use comma to, for example, limit the amount of characters. How to get around this?

[2015-12-04 17:09] pl4g4 commented on #102
its fix #110.

The fix is not on master tho. Im still waiting for the merge.

[2015-12-08 21:55] kwhat opened #115 "Unset and empty string are not equal."
I am not sure why, but this library assumes that `unset($a); $a === ""` is true.  The code in question has moved around a bit and is currently located on Line 1330 on master [gump.class.php#L1330](https://github.com/Wixel/GUMP/blob/master/gump.class.php#L1330).

[code]

What this code effectively does is return true for integer validation of "" (empty string).  This is a problem when I have projec

[2015-12-08 22:10] kwhat commented on #113
Anything that isn't true, is false by definition.  This is not a bug.

[2015-12-18 09:28] vafrcor opened #119 "validation "valid_json_string" always return invalid result"
GUMP version 1.3
validate: valid_json_string
filter: trim|json_decode
tested string: <code>{"regular":20000,"vip":50000}</code>

[2015-12-18 09:35] vafrcor commented on #119
My bad, I use filter "json_decode" >> this is the problem

[2015-12-18 09:54] vafrcor commented on #119
Why "json_decode" filter cause field became invalid?

[2015-12-18 15:16] pl4g4 commented on #119
Where ?

[2015-12-19 21:23] Langstra commented on #113
There is a problem with the "boolean" validation though. It does not accept the "on". I got a validation error. So I switched to an older version of gump and here the "on" value is accepted as a correct value.

[2015-12-21 12:01] thepurpleblob commented on #113
In the nicest way... that's a programmer's answer. End user's aren't programmers. I want to validate that they have entered 1/0, on/off or whatever.

For "normal" people 'frog' doesn't mean 'true' however you look at it.

[2015-12-30 21:50] systems-tci commented on #102
There is a simple solution, stop using strings and exploding them. Converting it to an array works:

    public function validate(array $input, array $ruleset)
    {
        $this->errors = array();
        foreach ($ruleset as $field => $rules) {
            foreach ($rules as $rule) {
                if ($rule['rule'] == 'required' || isset($input[$field])) {
                    $method = 'valid

[2016-01-08 20:12] gracedigital opened #120 "Regex Validation Not working"
If you use the regex rule that contains a | pipe character it will not work because the validate function breaks it up on when it parses them on or about line 364 "$rules = explode('|', $rules);".

For example if my regex expression is "/^(s|p)\d+$/", it will not work because of the pipe character in the expression.  It might be beneficial to put a check in before exploding the rules.  Something l

[2016-01-12 17:43] marcus-at-localhorst opened #121 "is_valid() doesn't work with own Validation Rule"
Hello,

I have a problem with extending the class and I am not sure if I do something wrong.
This is my code:

[code]

While `$y` and `$z` are working/return something, `$x` throws this

[code]

I wonder why it's running `GUMP->validate(Array, Array)`and not  `MyGUMP->validate(Array, Array)`

Setting the rules like this, works:

[code]

Any idea?

Thanks, M.

[2016-01-14 13:33] marcus-at-localhorst opened #122 "Sanitization and Quotes"
Hi,
you recommend in the docs to just use

[code]

In many cases it's not intended to get quotes converted e.g. if I display the data again in an input field where I already use htmlspecialchars to print the value. I end up with the encoded raw entities

[code]

Another case would be a password field where a quote is part of the password. After the sanitization the password hash is build from the

[2016-01-16 01:01] webarthur opened #123 "How can I change the language?"
I need portuguese (pt_br) messages, how can I implement a new language?

[2016-01-17 20:52] pl4g4 commented on #120
This was fixed already, its not in the master branch yet.

[2016-01-21 09:24] 0x13a opened #124 "Add more verbosity and context on exception messages"
When I run the validation and I set an empty rule

[code]

I get the message `Validator method 'validate_' does not exist`. Please be **more clear** add the **context** and the cause when throwing exception. [Throwing an Exception Without Proper Context Is a Bad Habit](http://www.yegor256.com/2015/12/01/rethrow-exceptions.html)

[2016-01-21 23:49] kristopolous commented on #103
+1. Keeping things programmatically symmetrical is probably what 99% (dare I say 100%) of users want.

[2016-01-22 00:00] kristopolous commented on #103
In fact, this is pretty easy. https://github.com/Wixel/GUMP/pull/125 there you go.

[2016-01-29 15:11] tmrdurgun opened #126 "filter_rules is not working"
any of filter rules not working, still displays html entities and not converting md5 ext.

my code is:

`$deger = $_POST['deger'];

$validator = new GUMP();

$_POST = $validator->sanitize($_POST);

$validator->filter_rules(array(
    'deger'    => 'sanitize_string'
));

$validated_data = $validator->run($_POST,true);

if($validated_data === false) {
    echo $validator->get_readable_errors(true);

[2016-02-06 00:05] kristopolous opened #127 "Sanitization and arrays"
So for fields that are specified like "address[]" and come in as an array through POST, they get discarded and replaced with "null".

Instead of discarding user input, I propose to sanitize each element of the array and return the array in tact.

[2016-02-06 01:02] kristopolous opened #129 "#127 Validation and arrays"
This is a lemma request to #127 which corresponds to pull request 128 to also permit validation of the elements of an array following the general rules.

[2016-02-06 01:36] kristopolous opened #131 "Grammar of error messages"
As a native English speaker, a number of these error messages don't sound right.  Notably "is required to be a valid email address" doesn't sound like a construction of the native tongue.  When these constructions are user-facing, I'd prefer for the messages to sound as close to common English as possible.  PR coming soon.

[2016-02-09 19:31] mtorniai commented on #127
Yes what is the smart idea behind this in the function sanitize?
[code]

For now I will just go around it until there is a real fix

[code]

[2016-02-10 09:47] devboxr opened #133 "Dealing with empty values, that are not required"
Hi there,

I currently have a problem with GUMP. I'm surprised about the behaviour of the rules, as it seems obvious to me. Maybe I am missing some implications?

So, I have an array that may include empty values (such as "last_name"). Those are not required, but if they are given, only alpha_numeric values are excepted. And while this works fine if they key does not exist in the array, it fails a

[2016-02-18 09:12] alvi1987 opened #134 "dependent field validation custom validation"
if I want to create a validation rule for validating two fields accordingly how should i do?
suppose if one of two field is 0 and other is empty. how can i do it?
[code]

[2016-02-19 03:25] vinay1986 opened #135 "Please rename include file in class.validator.php"
Please rename include file in class.validator.php, to be `require_once 'class.rule.php';` instead of `require_once 'class.Rule.php';`

[2016-02-23 15:55] juanlopezdev opened #137 "Problem sending a JSON String via Ajax"
Hi, I got an error when passing a value in JSON and filter by Gump .
Use the json_decode PHP function to read the parameter sent, but I return NULL.
When I pass the same parameter but without filtering by Gump , that if I return the value.

An example:

Javascript

[code]

PHP (Using Gump)

[code]

PHP (Unused gump)

[code]

[2016-03-05 00:07] kristopolous commented on #106
I just ran into this ... by default, sanitization should probably just remove the script tag.  I've been fixing these in my own fork as the original author hasn't been able to get to these issues.  I'll reply soon with a patch

[2016-03-05 00:10] kristopolous commented on #106
The core problem is that the author is using filter_var to do this http://php.net/manual/en/function.filter-var.php instead of http://php.net/manual/en/function.strip-tags.php ...

[2016-03-05 00:12] kristopolous commented on #106
there's a $basic_tags which is a decent white-list but this can't be static for your purposes ... so I'll make an $instance_tags that can be changed.

[2016-03-05 00:24] kristopolous commented on #106
ok see https://github.com/Wixel/GUMP/pull/139 for this in isolation ... you can also use my branch at https://github.com/kristopolous/GUMP/tree/106-html-tags-white-list or you can use my master branch which is all of my bugfixes merged ... they should be pretty safe fixes but YMMV

[2016-03-23 19:57] MaikeAlame commented on #137
I fix this error using `array_merge($inputs,$input_data)`.
Of course, if `$input_data` return array (success).

[2016-04-02 18:08] neurotools commented on #95
Count me in for spanish. Any timeline for this? Need ideas or help?

[2016-04-04 02:35] wwwjsw commented on #95
me for Portuguese!

[2016-04-08 08:52] kszcode opened #141 "Date custom parsing 'required|date,d-m-Y'"
Here is the snippet for it:

[code]

However on a seccond thought this function is doing too much.
So then we can have another rule like custom_date where the param can take the options.

[2016-04-08 09:24] kszcode opened #142 "Allow extensibility"
See issue #141

I did not want to change your code so I created a Validator class that extends GUMP.
However the when I used the `ValidatorGump::is_valid($postData, $ruleset);` I did not manage it to take a overloaded `validate_date()` function because in the `get_instance()` function you are instanciating the new function as `self::$instance = new self();` instead of `self::$instance = new static

[2016-04-19 06:37] milinmestry opened #144 "Validating File Upload "required_file" rule"
The given below example is not working, specifically the **required_file** rule.

`require "gump.class.php";

$is_valid = GUMP::is_valid(array_merge($_POST,$_FILES), array(
    'title' => 'required|alpha_numeric',
    'image' => 'required_file|extension,png;jpg'
));

if($is_valid === true) {
    // continue
} else {
    print_r($is_valid);
}`

As per the **validate()** method in GUMP class, **requ

[2016-04-19 09:15] Filisko commented on #142
I think that this issue should be considered.

[2016-05-05 14:17] #49 closed

[2016-05-05 15:16] filisko commented on #135
Hi @vinay1986, could you explain yourself a little bit better?

[2016-05-05 16:27] filisko commented on #107
Hello @pixelpaulaus, it does work and it's tested, have a look to [tests.php](https://github.com/Wixel/GUMP/blob/master/tests.php) and test it by yourself.

[2016-05-05 16:27] #107 closed

[2016-05-05 20:28] filisko commented on #133
Will close as it's solved! :)

[2016-05-05 20:28] #133 closed

[2016-05-05 20:31] filisko commented on #105
As @pl4g4 managed to write an example of how to do it, it's definitely solved.

[2016-05-05 20:31] #105 closed

[2016-05-05 20:47] #113 closed

[2016-05-05 20:51] filisko commented on #29
This is being checked now :)

[2016-05-05 20:51] #29 closed

[2016-05-05 20:55] filisko commented on #134
Hi @alvi1987, I guess that you solved your problem?

[2016-05-05 21:07] filisko commented on #124
Hi @diegomariani,
Well, I think that the message is quite clear, we are not saying "Method does not exist" or similar, we are saying "**Validator method** ... does not exist", which is definitely putting you in a context.

Will leave it opened for a couple of days, enough time to do a PR with what you would suggest and then we can consider it :smile: !

[2016-05-06 20:53] diegomariani commented on #124
lemme know what do you think about that :DD https://github.com/Wixel/GUMP/pull/147

[2016-05-08 09:25] celalozlal opened #148 "Validation $_FILES input if not required"
Hi,

In my project my user profile update form has an input file image which  is not required but if user select an image I have to check extension of image. Because of this I added a control in this area =>

protected function validate_extension($field, $input, $param = null)
    {
        if ($input[$field]['error'] !== 4) {
            $param = trim(strtolower($param));
            $allowed_ext

[2016-05-09 16:29] #134 closed

[2016-05-12 18:12] ruebenacker opened #149 "Valid Name Filter doesn't validate Special Character correctly"
Hey there from Germany,

first thank you for the great tool! I really like it.

I just found one "bug", in Germany the special character ß is common in names. The valid_name filter gives me an response that the name is invalid if it contains this character. For testing you can use the name "Koßwig". Would be great if you can fix this issue.

Best regards,

Raphael

[2016-05-12 20:05] filisko commented on #149
Hi @ruebenacker, this issue was just fixed here: #143 :smiley:

Just update whatever you have to update to get the latest changes!

Regards, Filis

[2016-05-12 20:05] #149 closed

[2016-05-14 12:22] filisko commented on #141
Yes, I also think that it does too much, and that having two functions to validate dates could be a bit confusing for some people, so, for this cases I recommend to use **add_validator()**, but in any case, we can have a thought, let's see leave this opened for a couple of days and maybe read some others opinions, but, let's try to keep things simple. :wink:

Regards, Filis.

[2016-05-28 16:00] filisko commented on #106
Hmm.. I see. Well, I think that something we had already pending is to create a filter and adapt it to use some third-party HTML filtering library.

[2016-06-02 16:06] joseluisq opened #150 "sanitize_numbers filter removes float fixed-point and cast float value into string"
GUMP v1.3 Test using two valid numbers input:

[code]

[2016-06-06 06:59] salvatorelapi opened #152 "Validator method 'validate_containsList' does not exist."
with new version i have this error. Before i use version 1.0 and works. Can you help me ?

[2016-06-06 07:09] #152 closed

[2016-06-06 20:18] #150 closed

[2016-06-21 22:44] igorstimoli opened #153 "Remove unspecified data from $_POST before running validation"
When I do validation, I generally also filter the received $_POST so to only use desired data.
I thought it might be useful to integrate this in your validator. For doing that I wrote a little class extension for personal use. I post it here so you can consider if it worths to integrate this functionality in your class.

[code]

[2016-07-26 03:39] anhnvme opened #155 "Please add valid domain"
Hello,

Please add valid domain like domain.com, abc.domain.com

[2016-08-23 13:52] filisko commented on #155
Hi @anhnvname,

Did you checked the "valid_url" validator?

[2016-08-31 11:24] Mrknister opened #158 "New filter rule array_empty impossible to add"
Why check for is_array($input[$field]) in line 366? This makes it impossible to check if a parameter is an array and empty. Does this have a deeper meaning I don't get?

[2016-09-28 13:11] gentleboy98 commented on #105
This example would best completed with "filters" added to the validation process

[2016-10-02 20:32] goartur opened #161 "Add value of field to get_Error_array ."
After getting a error array back, is there a way to return array with errors and also value of field that is not valid? If not could you add it..? I want to fill user input with same values if error appear.

[2016-10-17 21:42] Vishu7 commented on #94
Thanks!
I'm still using the @version 1, but fixed this particular problem by given fix.

[2016-10-20 00:47] canaillou2k5 opened #162 ""set_field_name" no apply to "equalsfield""
[code]

Error message is:

Instead of:

Thank you.

[2016-10-22 16:43] nguoirom opened #163 "multipe field name error"
name="field[0]" gump alway said required !

[2016-10-26 19:27] tmblog opened #164 "Error showing twice foreach"
hi thanks for the nice library, I'm having this issue:

[code]

The output of `$errmessage` is:
title is not valid.
title is not valid.
link is not valid.
link is not valid.

It's twice for each one.

[2016-11-17 07:03] myselfgaurav opened #165 "getting below errors"
Warning: Illegal string offset 'error' in includes\gump.class.php on line 1960

Warning: Illegal string offset 'error' in \includes\gump.class.php on line 1985

Warning: Illegal string offset 'name' in includes\gump.class.php on line 1989

Notice: Undefined index: extension in \includes\gump.class.php on line 1990

when using

[code]

[2016-11-17 13:54] DeSuper opened #166 "Call to undefined function sanitize()"
In version 1.4 when trying to sanitize an array.

Fatal error: Uncaught Error: Call to undefined function sanitize() in C:\wamp64\www\hub\vendor\wixel\gump\gump.class.php on line 309

`$value = sanitize($value);` I believe should be `$value = $this->sanitize($value);`

[2016-11-23 19:28] MtDalPizzol commented on #166
Just ran into it and you're correct. You Sir just saved my live. Thanks!

[2016-12-12 13:11] rash039 opened #170 "alpha_space contains numeric also"
I need only alpha space (like for name field which can't be alpha numeric space). Currently numeric is not included in validation.

[2016-12-12 23:27] filisko commented on #170
Hi @rash039,

Numeric values are included in alpha_space.

[2016-12-13 04:36] rash039 commented on #170
HI @filisko,

Is there a possible option to gain only alpha and space validation without numeric values.

[2017-01-18 15:56] dlplanet commented on #95
me for persian!

[2017-02-06 11:05] shuxx commented on #95
Some news for translation ?

[2017-02-06 17:39] asadghazanfary opened #177 "validation list box"
hi every body

Is there a way to validate the **list box** or **combo box**?

please help me

thank you

[2017-02-08 08:08] jagroop commented on #144
yah i am  facing the same problem

[2017-02-08 11:31] frappacchio commented on #144
it solves the problem for me too. Thanks @milinmestry

[2017-02-16 18:01] KacyLuzz opened #178 "checkdnsrr make error"
Hey! I know, this is a server issue, but... it's really a pain in the ass.
[Thu Feb 16 18:56:25.234142 2017] [:error] [pid 21725] [client 108.162.229.101:36059] PHP Warning:  checkdnsrr(): Host cannot be empty in *** on line 1533
I changed the line to
`@checkdnsrr($url)`
for get no error but.... it's not working.
Thanks for help :) (sorry for my bad english, #imFrench)

[2017-02-17 04:24] jagroop commented on #178
@KacyLuzz make sure you are passing a valid $url,i think you should validate the $url first to check whether its a url string.

[2017-02-19 21:46] creative-software commented on #144
it not fixing problem because problem is in different place ;)

you have to remove this && !is_array($input[$field]) because $_FILE is array! inside file field name there is couple variables like tmp name mime etc... if you remove only this from code file validation will start working properly 'required_file' too!

[2017-03-12 08:22] salmanaligeek commented on #20
This is the big limitation of this class :-(

[2017-03-19 13:39] jmbelloteau commented on #95
Any news about an update with mechanism for translation? Many people here are ready to translate and share 😄  !

[2017-03-21 14:30] jmbelloteau commented on #95
I mean this issue is almost open for two years now... just saying 😅

[2017-03-21 14:41] filisko commented on #95
Hi guys,

I will have something in next couple of days.

How do you think that it should be done ? @shuxx @jmbelloteau

[2017-03-21 14:47] shuxx commented on #95
I don't have any solution to purpose but i can help to translate...

[2017-03-21 14:48] jmbelloteau commented on #95
Same as @shuxx , I need a translation in french and I would be happy to share it. But I have no idea how to make the magic...

[2017-03-21 14:49] shuxx commented on #95
First of all, we need a mechanism anyone know solutions?

[2017-03-21 14:50] filisko commented on #95
Ok, I will be thinking on it just now.

[2017-03-21 14:50] jmbelloteau commented on #95
This validation library have translation maybe it could give some hint @filisko ??

[VALITRON LIBRARY](https://github.com/vlucas/valitron)

[2017-03-21 14:51] filisko commented on #95
Ok, I will be thinking on it just now. I have some ideas, just wanted to know if you had already any ideas.

[2017-03-21 15:01] shuxx commented on #95
@Filisko your the owner of gump or u will make a pull request ?

[2017-03-21 15:11] filisko commented on #95
@shuxx, I'm a collaborator of this project, I will think later about how to don't breaking anything :laughing:, now I'm just thinking about the code to support languages.

[2017-03-21 15:39] jmbelloteau commented on #95
Amazing @shuxx  !

Count on me for french translation as soon as we'll make magic happen. 😄

[2017-03-21 16:40] shuxx commented on #95
@Filisko i just say that because the project didn't move from 6 month

[2017-03-21 16:45] filisko commented on #95
@shuxx let's move it then :smile:

[2017-03-21 17:56] filisko commented on #95
Just [released 1.5](https://github.com/Wixel/GUMP/releases/tag/1.5)  with backwards compatibility that includes multilingual support.

Have a look!

[2017-03-21 18:27] shuxx commented on #95
Greet let's to it!

[2017-03-21 19:36] #162 closed

[2017-03-21 19:36] filisko commented on #162
Thank you for reporting it @canaillou2k5

[2017-03-21 19:39] filisko commented on #177
I would say that 'contains_list' validator could be helpful.

[2017-03-21 21:13] jmbelloteau commented on #95
Amazing @filisko ! That was pretty fast 😄 !

I've tried to update with composer but didn't work, I guess you will do it soon.
So I've download the archive I just have no idea how to change language...

[2017-03-21 21:18] #165 closed

[2017-03-21 21:19] filisko commented on #144
@milinmestry thank you! just done it with your approach.

cheers

[2017-03-21 21:19] #144 closed

[2017-03-21 21:20] filisko commented on #165
Thank you for reporting @myselfgaurav.
Cheers

[2017-03-21 21:26] #166 closed

[2017-03-21 21:26] filisko commented on #166
Thank you guys @MtDalPizzol & @DeSuper
Cheers

[2017-03-21 21:33] filisko commented on #95
Hi @jmbelloteau, I would actually tell you download it again! Just added few fixes in the last minutes.

You can switch the language like that:
[code]

[2017-03-21 21:38] filisko commented on #20
@salmanaligeek, have a look at [release 1.5](https://github.com/Wixel/GUMP/releases/tag/1.5)

cheers

[2017-03-21 21:41] filisko commented on #11
Now you can just translate it to Brazilian inside **lang** folder.

[2017-03-21 21:41] #11 closed

[2017-03-21 21:46] jmbelloteau commented on #95
cool
here is the french translation, you can add it to the repo so it will be easier tho make it better for every frenchy :)

[french translation](https://gist.github.com/jmbelloteau/e1c2246e9fc03c7d5c2e850bdbf70130)

[2017-03-21 21:47] jmbelloteau commented on #95
Does composer work now?

[2017-03-21 22:00] jmbelloteau commented on #95
Just made it work, it's really cool 😄  !
I just see something that cool be better:

{field} is not translate with this system... So the response is a mix of the input name and the translated language...

[2017-03-21 22:08] filisko commented on #95
Remember that you can use something like that:
[code]
To customize the {field} message.

[2017-03-21 22:10] #101 closed

[2017-03-21 22:10] filisko commented on #123
@webarthur, you can create now **lang/pt_br.php** file!
Cheers

[2017-03-21 22:10] #123 closed

[2017-03-21 22:19] #131 closed

[2017-03-21 22:20] filisko commented on #131
Just improved them, thank you @kristopolous
Cheers

[2017-03-21 22:22] #53 closed

[2017-03-21 22:22] #20 closed

[2017-03-21 22:23] filisko commented on #37
Release 1.5 makes it easier to use.
Cheers

[2017-03-21 22:23] #37 closed

[2017-03-21 22:24] filisko commented on #47
See [release 1.5](https://github.com/Wixel/GUMP/releases/tag/1.5) @thepurpleblob @moazam1

Cheers

[2017-03-21 22:24] #47 closed

[2017-03-21 22:25] filisko commented on #95
Open a new issue if you need to @jmbelloteau

Cheers

[2017-03-21 22:25] #95 closed

[2017-03-21 22:29] jmbelloteau commented on #95
ok thanks!

[2017-03-21 22:36] jmbelloteau opened #179 "Fields Name"
Hi there,

Is there anyway to use **set_field_name()** with an array like this:

[code]

It doesn't work like this

[2017-03-21 22:39] filisko commented on #170
Just merged the #172 :smiley:
Cheers @rash039

[2017-03-21 22:39] #170 closed

[2017-03-21 22:40] filisko commented on #179
To do that you must use **set_field_names** method (see last **s**), just add the "s".

[2017-03-21 23:22] filisko commented on #161
Just added support for that in commit ee6a232  @goartur
Cheers

[2017-03-21 23:22] #161 closed

[2017-03-21 23:37] filisko commented on #142
This is already implemented! Thank you @kszcode

[2017-03-21 23:38] #135 closed

[2017-03-21 23:42] filisko commented on #103
Now error messages come from the same place (lang file, i.e. en.php), and as @el-timm said, we can use set_field_name() to customize the name of the field in the error message.

[2017-03-21 23:42] #103 closed

[2017-03-21 23:42] filisko commented on #163
Could you explain a little bit more your problem? @nguoirom

[2017-03-21 23:45] #155 closed

[2017-03-21 23:46] filisko commented on #82
@jewelhuq, you can do it now adding a third parameter to add_validator() which is the error message.
Cheers

[2017-03-21 23:46] #82 closed

[2017-03-21 23:50] #31 closed, assigned to sn

[2017-03-21 23:53] #72 closed

[2017-03-21 23:56] filisko commented on #112
@mallok If you add the following lines at the beginning of your validator the error should be fixed
[code]

[2017-03-21 23:56] #112 closed

[2017-03-22 00:00] filisko commented on #115
Combine it with more rules @kwhat.
Open another issue if you need to.

[2017-03-22 00:00] #115 closed

[2017-03-22 00:00] jmbelloteau commented on #179
amazing :)

[2017-03-22 00:05] nguoirom commented on #163
Its mean array value of field !

On Wed, Mar 22, 2017 at 06:42 Filis Futsarov <notifications@github.com>
wrote:

[2017-03-22 00:21] filisko commented on #124
Thank you @0x13a !

[2017-03-22 00:21] #124 closed

[2017-03-22 00:23] filisko commented on #179
Thank you @jmbelloteau.
Cheers, Filis

[2017-03-22 00:23] #179 closed

[2017-03-22 02:20] webarthur commented on #123
One year delay... ok.

[2017-03-22 10:08] filisko commented on #123
@webarthur, you could translate GUMP just extending the main class as some people did or you could also create an easier alternative as I have done :smile:

[2017-03-22 10:33] filisko commented on #164
@tmblog, release 1.5 had a lot of changes, have a look to it and see if error still happens as I don't quite understand what you mean.

[2017-03-22 16:45] salmanaligeek commented on #148
@filisko I think it is implemented now. Why this issue is still open?

[2017-03-22 16:48] salmanaligeek commented on #87
@filisko why reopened this?

[2017-03-22 17:03] filisko commented on #148
You're right @salmanaligeek, will close it now. Just didn't have time to see it yet :smiley:

[2017-03-22 17:03] #148 closed

[2017-03-22 17:03] filisko commented on #87
@salmanaligeek :smiley:

[2017-03-22 17:03] #87 closed

[2017-03-22 17:58] salmanaligeek commented on #31
@filisko how to display custom message for existing rule like valid_email? There is no documentation for setting custom message.

[2017-03-22 18:20] salmanaligeek commented on #31
I have found a way to set custom message $validator->set_error_message('**validate_**valid_cc', 'my custom message');

Why I had to write write **validate_**, only valid_cc was not working at all

[2017-03-22 19:21] filisko commented on #31
That needs to be improved @salmanaligeek, for your own validators (add_validator()) you don't have to specify the prefix validate_*, it's just for the native validators.

I mentioned this on https://github.com/Wixel/GUMP/releases/tag/v1.5.1

But documentation needs work, that's right. I will start that as soon as I can.

[2017-03-23 12:20] filisko commented on #42
Maybe for the future we could think of it.

[2017-03-23 12:20] #42 closed

[2017-03-23 12:21] filisko commented on #163
Could you show some examples of your code?

[2017-03-23 12:23] filisko commented on #80
This is the same as issue #42.

[2017-03-23 12:23] #80 closed

[2017-03-23 12:29] filisko commented on #73
If you need to create another issue just do it and we could try and help.

[2017-03-23 12:29] #73 closed

[2017-03-23 12:31] #8 closed

[2017-03-23 12:34] #44 closed

[2017-03-23 12:36] filisko commented on #119
Because it filters the input and then it gives it back to the validator @vafrcor.

[2017-03-23 12:36] #119 closed

[2017-03-23 12:40] filisko commented on #81
**valid_numeric** does this.

[2017-03-23 12:40] #81 closed

[2017-03-23 12:51] filisko commented on #8
This is actually supported now.

[2017-04-05 01:47] RonaldoSantana opened #180 "Rule {} does not have an error message"
Gump keeps randomly raising the error on get_readable_errors.
It is just random - one second it can find the message the other cannot.

[2017-04-05 19:06] filisko commented on #180
Could you detail your problem please?

[2017-04-07 18:16] #30 closed

[2017-04-07 18:29] filisko commented on #126
Hi, have a look to the following code.
You should declare **$deger** variable **after** sanitizing, and **not before**.

[code]

[2017-04-07 18:29] #126 closed

[2017-04-07 20:11] filisko commented on #121
Hi, I think that this happens because **is_valid** method uses **get_instance** method and this creates an instance of GUMP itself and not the extended class.

[2017-04-07 20:35] #48 closed

[2017-04-07 20:37] #178 closed

[2017-04-07 20:50] filisko commented on #104
I thought that it should be like you suggested @r34nim4ted, just updated this on commit bb04451.

Regards,
Filis.

[2017-04-07 20:50] #104 closed

[2017-04-07 20:54] filisko commented on #121
Hi @marcus-at-localhorst ,

In a nutshell, this happens because **is_valid** method uses **get_instance** method, which creates an instance of GUMP itself, and not the extended class.

The same problem is on issue #142 by the way.

Just fixed on commit e3344db.

Regards,
Filis.

[2017-04-07 20:54] #121 closed

[2017-04-07 20:55] filisko commented on #142
Just fixed on commit e3344db.
Same problem on #121.

Thank you @kszcode.

[2017-04-07 20:55] #142 closed

[2017-04-07 21:18] filisko commented on #153
Thank you for your contribution @igorstimoli.

[2017-04-07 21:18] #153 closed

[2017-04-07 21:25] filisko commented on #137
Thank you @MaikeAlame.

[2017-04-07 21:25] #137 closed

[2017-04-09 00:42] meddjelaili commented on #120
problem fixed by using $rules   = preg_split('/(?<!\\\)\|/', $rules); instead of $rules = explode('|', $rules);
the preg_split function will split the text by | if it's not escaped.
the same thig for commas $rule   = preg_split('/(?<!\\\),/', $rule);

[2017-04-09 14:30] filisko commented on #120
@meddjelaili, you should check that as I don't really see it working :)

[2017-04-09 14:45] meddjelaili commented on #120
what the regex pattern you're using ?

[2017-04-09 15:49] filisko commented on #120
@meddjelaili, could you do a pull request with that changed and few tests?

[2017-04-09 17:31] meddjelaili commented on #120
@filisko try with this https://github.com/meddjelaili/GUMP

[2017-04-10 01:40] filisko commented on #120
@meddjelaili could you show me what do you put on rules?

[2017-04-10 10:19] #177 closed

[2017-04-10 11:16] meddjelaili commented on #120
$rules = 'required|somethingelse|regex,/^(s|p)\d+$/';
$rules= preg_split('/(?<!\\\)\|(?![^\|]+\))/', $rules);
echo "<pre>";
print_r($rules);

[2017-04-10 15:34] filisko commented on #120
@meddjelaili, It works for regex validation rule but still don't fix the problem for other rules that accept parameters (e.g.: contains).

[2017-04-10 18:10] meddjelaili commented on #120
what you put on rulers ?

[2017-04-10 19:06] filisko commented on #120
With this it will fail for example:

[code]

[2017-04-13 11:06] celleyes opened #181 "Error duplication"
For some reason its duplicating the errors . i tried using long as well as short method, both of them have the same issue. it does this with foreach and also without foreach when picking out individual error.

Array ( [0] => The First Name field is required [1] => The First Name field needs to be at least 3 characters [2] => The Last Name field is required [3] => The Last Name field needs to be at

[2017-04-13 11:16] celleyes commented on #181
It seems like i figured out the issue, if  you add **min_len,3** on validation rules , then you get duplication error. if you don't add min_len then its ok.. there is also another issue with the md5 hash , if you add that then it never validates the password field. hope it helps to figure out whats wrong.

[2017-04-13 13:34] filisko commented on #181
Hi @celleyes, could you post the array that you're using for your rules?

[2017-04-13 19:00] celleyes commented on #181
$gump = new GUMP();

	$_POST = $gump->sanitize($_POST);

	$gump->validation_rules(array(
		'first_name'    => 'required|alpha|max_len,30',
		'last_name'    => 'required|alpha|max_len,30',
		'dob'    => 'required|date',
		'email'       => 'required|valid_email',
		'mobile'    => 'required|numeric',
		'address'    => 'required',
		'nic'    => 'required',
		'password'    => 'required|max_len,32',
		'

[2017-04-13 20:17] celleyes commented on #181
Also, is there any way to catch the errors via associative key names instead of index number? cause its making problem to show the individual errors,

[2017-04-19 12:19] lchambers commented on #180
I'm getting the same error and I'm running it on PHP 7.0.15.

I've extended GUMP into my own class and within it I call the run method and if it fails then I call the get_errors_array method to carry out my own error message processing.

It's throwing the following error within that method:

`PHP Fatal error:  Uncaught Exception: Rule "validate_required" does not have an error message in /vendor/w

[2017-04-19 12:54] lchambers commented on #180
Update: I finally figured out what was going on.

If you validate 1 set of data and then validate another set, which is completely different, straight after then that's when it throws the error.

It's happening due to the the language file being included using require_once, within the get_messages method - line 522. As it's already been included the first time the validation is run on the second v

[2017-04-20 20:50] filisko commented on #181
@celleyes, I can't make that 'error duplication' happen.

You can get error messages with associative key names with *get_errors_array()* method.

[2017-04-22 16:54] filisko commented on #181
Hi, @peclhl,
Why do you use md5 for filtering? With md5 you're not filtering anything but hashing instead.
Suggestion: Don't use md5 anymore, use bcrypt.

[2017-04-22 17:30] filisko commented on #181
@celleyes, it is not showing duplicate errors, but two different errors, perhaps here we should only show the first error.

[2017-04-22 17:33] celleyes commented on #181
@filisko , yep that is right .. showing two different errors when mix_len is used. only the invalid error should be shown. thanks for the validation class.

[2017-04-22 18:28] #181 closed

[2017-04-22 18:29] filisko commented on #181
Now it should be all right @celleyes.

Check it and comment.

[2017-04-22 18:43] filisko commented on #164
Perhaps it something similar to issue #181.

Create another issue if error persists.

[2017-04-22 18:43] #164 closed

[2017-04-28 11:44] #180 closed

[2017-04-28 11:45] filisko commented on #180
Thank you very much @lchambers !

[2017-05-31 14:46] HarroH opened #184 "Value data as array seems to be ignored"
Hi there,

First of all, very nice class. Worked great. Just seem to have an issue with my custom validator.

I'm trying to count the amount of row within an array. So my basic is_valid statement will look something like this:
[code]
I have this custom validator to check the lenght.

Custom Validator:
[code]

I added some debug print_r's. When the 'dates' array is empty, the $field, $input and $pa

[2017-06-02 07:38] filisko commented on #184
Hi @HarroH,

I will try to have something for this week, I already have something in local and it's nearly finished.

[2017-06-06 13:06] JoshuaSampia opened #186 "validate_alpha_space does not accept numbers."
The documentation says it accepts numbers but the regex is missing.

Here is the relevant text:
alpha_space Ensure only alpha-numeric characters + spaces are present in the key value (a-z, A-Z, 0-9, \s)

Just adding 0-9 at the beginning of the regex will make it work.

Test Case: "Shift 1"

[2017-06-07 19:12] JoshuaSampia commented on #186
I believe this can be closed as it was merged via #187

[2017-06-07 19:12] #186 closed

[2017-06-07 19:17] filisko commented on #186
Yep, thank you @JoshuaSampia

[2017-06-09 14:23] mtorniai opened #188 "custom validator returns complete $input instead of the field content as value"
input array( [something] => 'something', [else] => 'else')

GUMP::add_validator("valid_wrong", function($field, $input, $param = NULL) {
    return false;
});

validator used for field 'something'

Result:
{
      "field": "something",
      "value": {
        "something": "something",
        "else": "else"
      },
      "rule": "valid_wrong",
      "param": null
    },

Expected result to be co

[2017-06-12 11:03] HarroH commented on #184
Great. I now solved it to convert the array to json and convert is back to an array in the validator. But not sure if that is a very nice solution. But for now it works. Looking forward to your outcome.

[2017-06-14 21:32] filisko commented on #127
Commit b749c53 solves this :)

[2017-06-14 21:32] #127 closed

[2017-06-14 21:32] filisko commented on #129
Commit b749c53 solves this :)

[2017-06-14 21:32] #129 closed

[2017-06-14 21:45] filisko commented on #163
b749c5 commit fixes this I think, reopen if needed.

[2017-06-14 21:45] #163 closed

[2017-06-14 21:53] filisko commented on #122
Don't use sanitize() for this cases but use instead filtering for specific fields.
sanitize() method is for "general purpose" sanitizing, is not valid for every case.

[2017-06-14 21:53] #122 closed

[2017-06-14 22:00] filisko commented on #184
Hi @HarroH, the functionality I implemented now is actually not valid for your case, it allows you to validate and filter data arrays like yours, but because of the approach being used in the library, when array input is entered, instead of passing the array to the validate method (it would break all our validators and to fix it all the validators would have to check if it's an array and do a loop

[2017-06-20 15:22] HarroH commented on #184
Hoi Filisko, thanks for the reply and looking into it. As I need to could the amount of rows in my array I need it in the method. So I will stick with the json_decode en encode then instead to go around the issue. Thanks again for the time.

[2017-06-20 19:34] filisko commented on #184
@HarroH , no problem !
Thanks for your patience :smile:

[2017-06-20 19:34] #184 closed

[2017-06-28 03:03] pixelpaulaus commented on #107
i have his rule.

"alpha_numeric|min_len,7|max_len,15"

and when i leave the field blank i keep getting the error that it has a min length of 7 even tho it is not a required field and it is empty.

[2017-07-02 08:27] marcus-at-localhorst commented on #107
You have to do something like this:
[code]

[2017-07-09 18:15] #188 closed

[2017-07-09 18:16] filisko commented on #188
Good catch @mtorniai !
Thank you.

[2017-07-09 19:18] #141 closed

[2017-07-09 19:19] filisko commented on #141
It was definitely needed!

[2017-07-13 14:47] wuuti opened #193 "Validation errors not machine-readable"
Whenever a validation fails, something like this is returned (for a field with name "limit"):
[code]
The result might be displayed directly like this, but if you want to process it further, you have now chance, because it is a string. Maybe I miss something, but it would be great if we could optionally also get the a result like this:
[code]
That would enable us to further process the result, e.g.

[2017-07-13 15:02] wuuti commented on #193
Update: I can't get anything else as output than the string version. Also tried ->get_errors_array(), but this is always an empty array. Version 1.5.3.

[2017-07-13 15:13] wuuti commented on #193
ok, forget it. works now. I used ->is_valid instead of ->validate :-(

[2017-07-13 15:13] #193 closed

[2017-07-13 15:22] filisko commented on #193
No problem @wuuti :smile:

[2017-07-14 10:08] eleumas opened #194 "Recover array from get_readable_errors(false)"
Hi! I would like show the error for single field and add a class to input for color the field. How can i do? If i set $gump->get_readable_errors(false); return an array but i don't know recover the value. Someone can help me, please? Thanks!

[2017-07-14 16:52] filisko commented on #194
Hi @eleumas,
You can use *get_errors_array()* method and do the following:
[code]

[2017-07-14 17:11] eleumas commented on #194
Hi @filisko, thanks for your answer. I love you guy! :)
Only one precisation.
How can i add one class to input for color the field? Is possible this?

[2017-07-14 17:24] filisko commented on #194
I don't quite understand you. Just use a CSS class? :confused:

[2017-07-14 17:24] #194 closed

[2017-07-14 17:29] eleumas commented on #194
Yes, i use a CSS class but this class must be add to input only when there is an error. @filisko watch this example, please:
<input class="uk-input <?php echo $inputDanger ?>" type="text" id="nome" name="nome" placeholder="">
<span class="text-danger"><?php echo $errors['nome']; ?></span>

[2017-07-14 18:19] SeanNieuwoudt commented on #194
you can do something like this perhaps:

[code]

Excuse me if there are maybe a few syntax errors in there, but it should give you a good idea of how you could do it.

[2017-07-14 18:35] eleumas commented on #194
@SeanNieuwoudt i don't know a lot PHP...but thanks for help me. If you can help me for the last time with this error:
`[14-Jul-2017 19:07:26 Europe/Rome] PHP Warning:  Illegal string offset 'nome' in /home/xxxxxxxx/public_html/demo/uikit-3/fullsite/page04.php on line 30
[14-Jul-2017 20:26:14 Europe/Rome] PHP Fatal error:  Uncaught Error: Call to undefined function dangerClass() in /home/x/public_h

[2017-07-14 20:51] filisko commented on #194
Use **isset* PHP function to avoid those kind of errors.

[2017-07-15 13:48] thomasspe opened #195 "validate_url_exists may not do what people are expecting"
I plan on using the class and just had a look at how the `validate_url_exists` rule works. It tries to call `checkdnsrr` if it exists [here](https://github.com/Wixel/GUMP/blob/master/gump.class.php#L1482). Apparently this method checks for a mx record by [default](http://php.net/manual/de/function.checkdnsrr.php). And as it is pointed out in a [comment](http://php.net/manual/de/function.checkdnsrr

[2017-07-15 16:38] filisko commented on #195
Good catch @thomasspe :smile:

Thank you!

[2017-07-15 16:39] #195 closed

[2017-07-17 13:35] eleumas commented on #194
@filisko @SeanNieuwoudt I'm sorry, i've tried to use isset but doesn't works. Someone can help me please? I need to good snippet of code. Thanks.

[2017-07-17 13:41] SeanNieuwoudt commented on #194
@eleumas Send me your entire page to sean@wixelhq.com and I'll have a look quick.

[2017-07-17 13:56] eleumas commented on #194
Thanks for your answer.
From this link you can download all files:
https://drive.google.com/open?id=0B-DuKrPSkkakYmc3NHh5M19WTTg

Inside *page04.php* there is the html code (i use uikit framework:
https://getuikit.com/docs/form) and inside *mail.php* there is GUMP and
PHPmailer code.

I would like color the input when appear an error under the field with the
class 'uk-form-danger' (https://getuiki

[2017-07-17 14:24] SeanNieuwoudt commented on #194
Ok, I emailed you.

[2017-07-18 07:19] Jon4t4n opened #196 "Only the first error is returned"
Hey

I don't know if this is how it's supposed to work, but i only get the first error back when validating multiple fields.

I have narrowed it down to this [commit ](https://github.com/Wixel/GUMP/commit/b749c53b254b45db512793da4a279aa0e9dbac11)

Code that i think is wrong are on lines 432 and 441.

Line 432:
[code]

array_column($this->errors, 'field') are always going to return a value > 0 afte

[2017-07-18 23:30] filisko commented on #196
Could post your data and your rules please?

[2017-07-19 05:24] Jon4t4n commented on #196
Code:
[code]

Output:
[code]

[2017-07-19 09:23] #196 closed

[2017-07-19 09:24] filisko commented on #196
Thank you @Jon4t4n! Just fixed this.

[2017-07-24 18:57] Araeis opened #197 "validation rules question"
Hi and thank you for this project !
I have a form i want to validate with the code below :
[code]
Problem is when i put a 0 in the input, it passes validation (for C,D and E) though i put min_numeric,1 as a validation rule.
max_numeric work though.
Any idea?

Thx,

Araeis

[2017-07-25 08:02] Araeis commented on #197
Looks like it comes from empty test that resturns false when evaluating 0
[code]

[2017-07-25 15:40] #197 closed

[2017-07-25 15:41] filisko commented on #197
Thank you very much @Araeis !

[2017-08-04 11:09] vadomk opened #198 "validating file fields is not working"
This example
require "gump.class.php";

$is_valid = GUMP::is_valid(array_merge($_POST,$_FILES), array(
	'title' => 'required|alpha_numeric',
	'image' => 'required_file|extension,png;jpg'
));

if($is_valid === true) {
	// continue
} else {
	print_r($is_valid);
}
 is not working

required_file rule never get success
extension rule  is not working

[2017-08-04 13:31] spranger opened #199 "missing keys in data array"
$is_valid = GUMP::is_valid($_POST, array(
		'username' => 'required|alpha_numeric',
		'password' => 'required|max_len,100|min_len,6'
));

if $_POST array is not containing a "username" key, it just crashes with

Undefined index: username

The validation is not properly checking the existence of a key in the given data array

[2017-08-04 16:13] #199 closed

[2017-08-04 16:13] filisko commented on #199
Thank you @spranger.

[2017-08-04 16:37] #198 closed

[2017-08-04 16:38] filisko commented on #198
Thank you for reporting it @vadomk :+1:

[2017-08-05 10:06] mr-lanholmes opened #200 "Rules is required throw error"
Hi,

My code is below:
[code]

in case I don't have `email ` key in my `$array` it will throw error and also showing it in
`$gump->get_errors_array(true)`

Your advide to hide the error.

Best regards

[2017-08-05 18:09] filisko commented on #200
Please use latest release: [v1.5.6](https://github.com/Wixel/GUMP/releases/tag/v1.5.6)
https://github.com/Wixel/GUMP/archive/v1.5.6.zip

[2017-08-05 21:57] #200 closed

[2017-08-07 07:38] spranger commented on #199
When can the new/fixed version be accessed from composer/packagist?

[2017-08-07 07:51] spranger commented on #199
have updated composer, got the fix, thx.

[2017-08-07 07:52] spranger commented on #199
can I use GUMP to trim input values?

[2017-08-07 11:12] spranger commented on #199
How do I avoid the lowercase treatment of "contains-"rule?

[2017-08-07 18:08] filisko commented on #199
You can trim with GUMP yes.
[code]
I don't quite understand what you mean about 'contains' rule.

[2017-08-08 05:12] spranger commented on #199
my 'contains' rule:

'caller'  => 'required|contains,JACK GG',

Matches JACK or GG in any lower/uppercase combination.
My question aims towards: can I enforce only uppercase matching for those strings (without a custom validator)?

Regards
Steffen

Von: Filis Futsarov [mailto:notifications@github.com]
Gesendet: Montag, 7. August 2017 20:08
An: Wixel/GUMP
Cc: Spranger, Steffen; Mention
Betreff: Re:

[2017-08-21 10:53] elieobeid7 opened #202 "Should i use xss_clean() everytime"
By default does it clean xss or should i keep calling it? And should this library be used along with HTMLPurifier or is it enough?

[2017-08-24 08:20] spranger opened #203 ""any parameter" validation"
Hi, I want a rule like "any of those 3 params must be set".

...
$validation_rules = array(
	'listid'  => 'anyID',
	'itemid'  => 'anyID|min_numeric,1',
	'webcode'  => 'anyID'
);

GUMP::add_validator("anyID", function($field, $input, $param = NULL) {
	return (isset($input["listid"])||isset($input["itemid"])  || isset($input["webcode"]));
}, "any of [listid, itemid, webcode] must be given as paramet

[2017-08-26 15:48] tdias25 opened #204 "filter "bypassing" validation"
i have an input called "Password" that have these rules: `required|min_len,6 `, but when i add the filter `encrypt_pass`, the validation doesnt work, and if i submit the form with an empty password it doesnt validate the way it should, how can i solve this?

[code]

ps: the validation rule comes first and then the filter

[code]

[2017-08-28 13:14] salvatorelapi commented on #178
Warning: checkdnsrr(): Host cannot be empty in *** 1472
and after ( ! ) Warning: idn_to_ascii() expects parameter 1 to be string, array given

[2017-08-29 21:49] valentindragan opened #205 "new multilingual feature not working"
The new multilingual feature is not working because of  self::$instance = new static();
$lang = 'en';
$gump = new GUMP($lang);

[https://github.com/Wixel/GUMP/releases/tag/1.5](https://github.com/Wixel/GUMP/releases/tag/1.5)

[2017-09-14 20:23] iamsanjit commented on #200
I am using latest release but still getting same error.
Fatal error: Uncaught exception 'Exception' with message 'Rule "mismatch" does not have an error message' in C:\Users\User\git\www\public\crm\vendor\wixel\gump\gump.class.php:645 Stack trace: #0

[2017-09-25 11:16] wuuti opened #207 "Bug: validating nested arrays with required rule"
If we have data like this:
[code]
with a validation rule data:required, the validation will fail here because of the empty testvalue field. But is that the intended behaviour? Being required for the data field for me means if there is any non-empty value in the field directly (and the nested array is there and it is non-empty), then requirement is passed. Instead the validation rule "required" is

[2017-09-28 13:20] rdggithub opened #208 "Bug: Wrong validation for alpha_dash"
alpha_dash does not match the description/naming since it allows numeric characters in its regex.

[2017-09-28 15:50] filisko commented on #207
Hi @wuuti, that's actually intended behaviour for now.

[2017-09-28 15:51] #208 closed

[2017-09-28 15:52] filisko commented on #208
Thank you @rdggithub !

[2017-09-28 15:56] filisko commented on #205
Hi @valentindragan,
Could you describe a more your case?

[2017-10-03 18:55] rdggithub commented on #208
I don't know if this works like expected now... please read the description of your validation rules on the github project page... they don't match the rule-names for alpha_dash and alpha_space ... description states that numeric is allowed, so the regex does.

There should be

alpha_numeric_dash
alpha_numeric_space
alpha_dash
alpha_space

and the description on the project page should match the o

[2017-10-11 22:23] 10Pound opened #209 "Alpha_dash filter..can anyone verify please?"
Hi, nice class, I've been checking it out.

Can someone verify or confirm this filter behavior, please?

According to the docs, Alpha_dash is defined as 'Ensure only alpha-numeric characters + dashes and underscores are present in the key value (a-z, A-Z, 0-9, _-)'.  I've run a number of tests and I keep getting the same incorrect response.  In short, a post containing a 16 character string value

[2017-10-21 20:43] eko3alpha commented on #209
Following your rules, this is what I got.

get_errors_array() should never return a boolean value.  It will either return an empty array [] or an array with error messages.

In your case, you should return an empty array [] since your input of "AB-CDEF-GHI-JKLM" will provide no errors.

[code]

This example has errors

[code]

I'm not seeing an issue with the rule, it appears to be working as expe

[2017-10-30 22:04] karagulle opened #214 "Tr (TURKISH) Language Package(tr.php)"
<?php
//Gump Class Tr Dil Paketi
return array(
    'validate_required'                 => 'Bu alan: {field} gereklidir.',
    'validate_valid_email'              => 'Bu alanının: {Field} geçerli bir e-posta adresi olması gerekir',
    'validate_max_len'                  => '{Field} alanının {param} karakter veya daha az olması gerekir',
    'validate_min_len'                  => '{Field} alanının

[2017-10-31 00:31] callumb opened #215 "Checking to see if another field is valid depending on value of another"
Wasn't sure how to title this but would be good to have a validation rule thats like if fieldA = 1 then fieldC must be set but if fieldA = 0 then field B must be set etc.

[2017-10-31 01:20] callumb commented on #80
This has put a huge roadblock in me using this really nice script! Shame :(

[2017-10-31 10:13] BobyLaPointeCH opened #216 "How to validate multidimentional POST ?"
All is in title :)

[2017-10-31 21:58] absherzad opened #218 "Problem with UpperCase Extensions"
Presently, the method validate_extension only validates lowercase extensions. There is a problem when testing it with uppercase extension i.e. JPG, Jpg. or jPG.
The fix is to change the following line of code:
`if ($extension && in_array($extension, $allowed_extensions)) {`
with the following line of code:
`if ($extension && in_array(strtolower($extension), $allowed_extensions)) {`

Regards,

[2017-11-01 12:55] filisko commented on #214
Create a pull request please!

[2017-11-01 12:55] #214 closed

[2017-11-01 12:58] #218 closed

[2017-11-01 12:58] filisko commented on #218
Good catch! :+1:

[2017-11-01 12:58] #205 closed

[2017-11-01 12:59] filisko commented on #205
Closed as no more description was given.

[2017-11-01 13:02] filisko commented on #215
Could be interesting to have that in a future release, yes.

[2017-11-01 13:02] #215 closed

[2017-11-08 04:57] fas3r commented on #14
@roydekleijn hello, I'm looking for something similar, did you come up with a solution 👍  ?

thank you by advance.

[2017-11-14 11:19] vibix opened #219 "Data filtering - reference error"
https://github.com/Wixel/GUMP/blob/51c51fc1e74479a6c141fffb5768303ab9d4d99e/gump.class.php#L701

After this line, You must use unset($input_array); becouse You can not assign references to an existing reference

[2017-11-27 13:43] hayusama opened #223 "Validation rules - Required file"
Hi,
I use your standAlone in my project and i have a bug with required_file.

This rules don't work, you have a patch?

`$gump = new GUMP($request->getLocale());

        if($request->getMethod() == 'POST' && is_string($request->request->get('recrutement_submit'))){
        	$fichiers = \specifique\convertion_arrayobject_To_array($request->files->all());
        	$formValues = $gump->sanitize($req

[2017-12-04 11:23] filisko commented on #223
What are the errors ?

[2017-12-21 12:10] jorgeflores opened #224 "upper_case filter doesnt exists"
Hi,

I tried to use the "upper_case" filter, I'm using 1.5.6 version, but I had the following error:

Details
Type: Exception
Message: Filter method 'upper_case' does not exist.
File: D:\Proyectos\travelxite\xampp-php7\htdocs\contact-form-api\vendor\wixel\gump\gump.class.php
Line: 699
Trace
#0 D:\Proyectos\travelxite\xampp-php7\htdocs\contact-form-api\vendor\wixel\gump\gump.class.php(267): GUMP->f

[2017-12-26 14:12] manishbathla opened #225 "Displaying validation error using Wixel/GUMP"
To validate an input this is what I had been doing all along

php
[code]
html
[code]
If there is a validation error then show it under the concerned input box (human readable).

How do I display validation error using GUMP the same way I use to do it earlier?.

[2018-01-01 13:14] filisko commented on #224
Hi @jorgeflores, I tried your code and it works. Give some more detailed info please

[2018-01-01 13:17] filisko commented on #225
Hi @manishbathla, I can't understand what you're asking

[2018-01-05 07:45] MauroCoder opened #228 "alpha_dash"
Only accept letters and dash

Ej:
2132132-3
not accepted

[2018-01-05 14:00] hnkumar opened #229 "Add custom error message part of return object"
I extended class of GUMP with a function.  However, everytime it fails I'm getting message that error message is not exist.   So, after done some code study I did below way.  I request author to add one more parameter in return object like "message" or "error" where we can send custom error message which can be displayed.  Or is there any other method where we can add error messages.
`class mydumm

[2018-01-06 14:55] MauroCoder commented on #229
GUMP needs a config method for custom lang folder... because, if I use the command "composer update", this replace all lang customized files. Also, its a good idea to specify the message on custom class validator.

[2018-01-08 13:09] scottcase commented on #225
I think I know what they are asking as I am trying to figure it out also

let say my form has

`<input type="text" name="email">
<span class="error">* <?php echo $emailErr;?></span>
<input type="password" name="password"><span class="error">* <?php echo $passErr;?></span>`

and my validation rules are

$gump->validation_rules(array(
	        'password'    => 'required|max_len,100|min_len,6',

[2018-01-10 01:07] MauroCoder opened #230 "required and not required"
When i set a validation rule, automaticly checks this validation , despite not placing the validation of "required". A "not_required" or "optional" validation could be a solution.

[2018-01-10 05:24] niroshanJ opened #231 "Get validation messages without <span> tags"
We are developing REST API. GUMP is fitted well to our requirement but we didn't find any method for get error messages from plain text(without <span>). So we developed wrapper class for extend GUMP.

Can you add method for get the error messages without <span>?

[2018-01-10 05:29] #231 closed

[2018-01-20 22:02] digvalley commented on #228
Just update the function to include `0-9`
[code]

[2018-01-20 22:15] MauroCoder commented on #228
readme:

alpha_dash Ensure only alpha-numeric characters + dashes and underscores are present in the key value (a-z, A-Z, 0-9, _-)

[2018-01-20 22:20] digvalley commented on #228
I know.. the above code is for anyone who needs it fixed.

[2018-01-30 13:41] metalcamp commented on #216
I might be late to the party, but have you tried flattening (POST) array?

[2018-01-30 15:15] derBoehm opened #233 "custom regex with (A|B)"
Custom regex break with (a|b)

$filters = explode('|', $filters);

think it is a filterset

[2018-02-08 23:03] jimblue commented on #95
Hi @filisko  !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

I'll remove this message once it'

[2018-02-08 23:08] jimblue commented on #179
Hi @filisko  !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

I'll remove this message once it'

[2018-02-09 19:16] adarshmadrecha opened #234 "Contains generates PHP warning when validation fails"
When `contains`  fails, there is a warning generated in PHP 7.1, as below

<b>Warning</b>:  array_key_exists(): The first argument should be either a string or an integer in <b>.../gump-class.php</b> on line <b>573</b><br />

**My Code**
[code]

When $_POST `cattype `contains the value, there is no warning. But when $_POST `cattype `contains a invalid value say `z` then I get the warning as above.

[2018-02-15 14:25] bernhardflokstra opened #235 "Two fields, at least one is required"
I have a form I'm using GUMP to validate. Form as 10 fields, 2 of which are for phonenumbers (1 cellphone, 1 landline). Can I make it required to have at least one of them filled out?

So I want my users to have the option to either have both filled out of one of the fields. If neither is filled out the form should not be valid. Is this posible?

[2018-02-15 16:33] rifton007 commented on #95
Hi everybody,
For me, the transalation in french doesn't display correctly.
The Codes ASCII isn't escaped and display juste the code. So that I have nothing problem in my website with special characters. Somebody does have the same problem that me ?

Thanks,

![capture](https://user-images.githubusercontent.com/2601347/36268275-57a58a7e-1276-11e8-835f-3941333eddf6.PNG)

[2018-02-16 20:49] rifton007 opened #237 "Cheking failed about Pull request #236"
Hi all,
My last pull #236 didn't pass the checking of Travis-ci.
Someone can explain me where is the problem ?
Thanks

[2018-02-22 14:23] jimblue commented on #179
Hi @filisko !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

I'll remove this message once it's

[2018-02-22 14:24] jimblue commented on #95
Hi @filisko !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

I'll remove this message once it's

[2018-02-28 12:22] jimblue commented on #95
@filisko !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

Cheers

PS: your website seems to be

[2018-02-28 12:23] jimblue commented on #179
Hi @filisko !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

Cheers

[2018-02-28 12:52] filisko commented on #95
Done @jimblue! Sorry for the delay

[2018-02-28 13:00] filisko commented on #237
No problem.

[2018-02-28 13:00] #237 closed

[2018-02-28 13:04] filisko commented on #235
Yes, that's an interesting thing to have, I will have a look

[2018-02-28 13:07] filisko commented on #234
Hi, I can't find the way to generate that error, and I'm using PHP 7.2

[2018-02-28 13:09] #223 closed

[2018-03-01 19:17] crisnao2 commented on #120
I solving this bug with https://github.com/crisnao2/GUMP/commit/598bc38041dcf973576fc135b2f19a966564fc3c

[2018-03-01 19:19] crisnao2 commented on #120
I solved this bug with https://github.com/crisnao2/GUMP/commit/598bc38041dcf973576fc135b2f19a966564fc3c. In the scenarios I tested, it worked without problems.

[2018-03-02 18:28] adarshmadrecha commented on #234
I tried using 7.2, I am no longer getting this warning. You can close this ticket for now. In case someone else comes across this issue: I was getting this error on PHP version `7.1.10 `

[2018-03-03 16:38] filisko commented on #234
Ok, let's see.

[2018-03-03 16:38] #234 closed

[2018-03-13 20:34] Atiladanvi opened #239 "The pt-br validate_required is incorrect"
O preenchimento do *camp {field} é obrigatório -> O preenchimento do campo {field} é obrigatório

[2018-03-14 06:02] #239 closed

[2018-03-27 07:40] MrSteel3303 opened #240 "Okay, I don't know if its only with me or Something's wrong with the way Im doing it,,"
$output = GUMP::is_valid(
    ["hi"=> "there"],
    ["hi"=> "alpha_numeric"]
);
always return true,, but

$output = GUMP::is_valid(
    ["hi"=> "there"],
    ["hi"=> "alpha_numeric|min_len,6"]
);
always returns what it should

[2018-04-03 10:31] spranger opened #242 "have the original field name in error report"
I's like to have a way to use the original field name in error report instead of
$field = ucwords(str_replace(array('_', '-'), chr(32), $e['field']));

[2018-04-03 11:06] derBoehm commented on #242
You have to set it on your own with

`GUMP::set_field_name("str", "Street");`

foreach is your friend.

[2018-04-08 19:30] SafetyFast commented on #240
If I am correct that you expect the first example to return false, you are using the wrong validator.  alpha_numeric allows letters and digits.  I think you want 'alpha' which allows only letters?  Hope that helps and I didn't misunderstand!

[2018-04-09 09:34] MrSteel3303 commented on #240
Thanks,, I thought alpha_numeric as like strictness for the presence of alphabets and numeric values.

[2018-04-09 09:34] #240 closed

[2018-04-11 07:30] spranger commented on #242
My validation rules contain
'caller'   => 'required|contains,JACK GG'

Later I set
GUMP::set_field_name('caller', 'caller');

When getting the errors I get an "Warning: array_key_exists(): The first argument should be either a string or an integer"
for (Line 629) if (array_key_exists($param, self::$fields))
as it passes $param which is  ["jack","gg"]

[2018-04-13 03:47] AndikaTanpaH opened #244 "Single var validation?"
i have a single var

[code]
but i got this error
`Catchable fatal error: Argument 1 passed to ::is_valid() must be of the type array`

so far i turn it to array and work
[code]

but, I curious is available for check/validation a single var or not a array?
or someone did it?

thanks before..

[2018-04-22 09:58] majesty2017 commented on #166
Fatal error: Call to undefined function sanitize() in C:\wamp\www\WEBSITES\Mystore\admin\brands.php on line 31
This my function
<?php
function sanitize($dirty) {
      return htmlentities($dirty,ENT_QUOTES,"UTF-8");
    }
?>

$brand = sanitize($_POST['brand']);

[2018-05-03 16:01] lpittman opened #245 "validation_rules & filter_rules in one"
Is there a specific reason that the validation_rules and filter_rules must be separated into two functions?

It would be far more convenient to be able to combine them into one array and pass that instead, for example:

[code]

[2018-05-31 07:27] ponasromas opened #246 "lower_case filter does not work"
Hello,

Runing latest GUMP version. Peace of code:

[code]
Getting error:

[2018-06-08 06:17] sudhir600 commented on #204
why no one (admin) answered most of the question.
I have seen a lot of question is unanswered.
I wanted to use GUMP in my project but bit scares to see unresponsiveness.

@filisko @scottcase  @davidmars @SeanNieuwoudt

[2018-06-08 12:31] sudhir600 opened #250 "How to set custom error for a specific field and its rule"
Hi Guys,
Gump is really well but I didn't find any way to set custom error message based on rule defined.

Example  from your repo - https://github.com/Wixel/GUMP/blob/master/examples/full_example.php

[code]

Here lets consider `username`, we have set 4 rules. So i wanted to set 4 own error message.
All message will be different and that will come from an external file.
So is there any way to ach

[2018-06-09 21:30] tdias25 commented on #204
i solve it replacing the order in the function run(), to validate first then use the filter

[2018-06-10 10:59] #204 closed

[2018-06-10 11:00] filisko commented on #250
Have a look to: https://github.com/Wixel/GUMP/releases/tag/v1.5.1

[2018-06-10 11:11] filisko commented on #246
Could you give more detailed info?

[2018-06-10 11:13] filisko commented on #245
I don't know really if that's a good idea.

[2018-06-10 11:20] filisko commented on #244
We don't have anything like that. It is not difficult to implement it though. I will mark this as a request because it's not a bad idea at all.

[2018-06-10 11:20] #244 closed

[2018-06-11 10:46] sudhir600 commented on #250
sorry for closing and reopened this issue. happend by mistake.

[2018-06-11 10:57] sudhir600 commented on #250
Hi @filisko, that nice, but in one of the scenario this setting this custom error is not enough.
what i am doing is -
[code]
See above code, i have set two min validation.
now what i want to set entirely diffrent  error for username and phone.
such as if username doen't meet min careteria, i will show, your username is invalid but when phone have not minimum length then i will show, "you mobile nu

[2018-06-15 12:46] Khaash opened #252 "Wrong alpha_space description in README"
With #172 the `alpha_space` validation rule was changed and `alpha_numeric_space` added.
At the moment the README doesn't reflect this changes and it took me quite a lot to understand why `alpha_space` wouldn't allow me to use numbers.

Please update the README to reflect that `alpha_space` does not accept numbers and add the new `alpha_numeric_space` in the list.

[2018-06-18 19:27] tdias25 opened #253 "its possible to ignore non-required fields?"
i have this update info page, and even if i leave some non-required field empty it still passes the validation and changes it, its possible to remove from array non required fields?

[2018-06-30 18:50] tdias25 commented on #204
sudhir600, i found rakit validiton, its really good, and they reply questions very fast.

https://github.com/rakit/validation

[2018-07-01 20:22] SeanNieuwoudt commented on #204
Hi @sudhir600

Sorry for the silence, we've been busy with a large code upgrade to GUMP. We have something awesome in the pipeline.

I'll do my best to answer the outstanding questions this week.

[2018-07-02 06:34] sudhir600 commented on #204
Ok Great, waiting for new release.

[2018-07-02 20:12] asadghazanfary opened #255 ""Required Without" validation"
hello every one

how can implement this scenario"value is required when another item is not present in the context"?

for example i have multiple checkbox and one text field. i want text field is required when user did not choose from each of check box field.

thank you

[2018-07-05 10:36] SeanNieuwoudt commented on #255
Hi,

I think this something that should be application logic instead of the responsibility of the validation library alone.

There is a plan for conditional validation in the next release of GUMP, but I'm unsure if it would satisfy your exact needs though.

[2018-07-05 13:40] asadghazanfary commented on #255
thank you

[2018-07-05 23:10] weinianhe opened #256 "Please document the following code in the example"
GUMP::filter_input($site,array('site'=>'trim'));
		var_dump($site);

It changes the variable $site instead of return out new value.

[2018-07-05 23:12] #256 closed

[2018-07-05 23:12] weinianhe commented on #256
my mistake

[2018-07-31 16:10] omzy83 commented on #250
I am also looking for a solution to this. Laravel does it very well actually:

[code]

In the above, I can set a generic message for all "required" fields, and then a custom message for the "terms" required field.

[2018-08-01 12:14] omzy opened #258 "Add notes in documentation about PHP version compatibility"
I just tried using this package on a site running on PHP 5.4 and got an error message about function "array_column" which does not exist (this function was added in PHP 5.5).

So I added my own in (copied from here https://stackoverflow.com/questions/27422640/alternate-to-array-column).

Personally I think it would be useful to be able to support older versions of PHP and add in compatible functio

[2018-08-06 09:18] Denninjo opened #262 "Bug: contains_list & doesnt_contain_list don't validate "0""
Contains_list & doesnt_contain_list, probably among others, don't properly validate a 0 value as it sees it as an "empty" value instead.

Because GUMP checks empty() which returns true on a zero:
[code]

Is there a way around this without having to rewrite any validator that might handle "0" as a value?

[2018-08-06 14:36] jovicaj opened #263 "Add image size (width,height) validator"
Hello
Is there an option to check image width and height?

[2018-08-08 00:32] aaronpaultolentino commented on #20
You may checkout this class to use laravel style error message
`<?php

/**
 * This class is an extension for gump class to support custom error messages
 * per field
 *
 */

class CustomValidator extends GUMP
{
    /**
     * @var array
     */
    protected $custom_error_messages = [];

    /**
     * Getter/Setter for the validation rules.
     *
     * @param array $rules
     *
     * @return

[2018-08-08 00:33] aaronpaultolentino commented on #20
You may checkout this class to use laravel style error message
`<?php

/**
 * This class is an extension for gump class to support custom error messages
 * per field
 *
 */

class CustomValidator extends GUMP
{
    /**
     * @var array
     */
    protected $custom_error_messages = [];

    /**
     * Getter/Setter for the validation rules.
     *
     * @param array $rules
     *
     * @return

[2018-09-10 14:43] ssurpe commented on #246
Same here. Actually the last release was on 4 August 2017 which doesn't contain the `filter_lower_case` method. I had to switch to the 'dev-master' version with Composer.

[2018-09-20 14:20] llagerlof opened #264 "Parse error: syntax error, unexpected T_STATIC, expecting T_STRING or T_VARIABLE or '$' in gump.class.php on line 48"
I am receiving this error when trying to execute:

[code]
GUMP version: https://github.com/Wixel/GUMP/blob/b32c92206fb7014a40179b8468ba8bab90b3f879/gump.class.php

[2018-10-09 17:39] ponasromas commented on #246
Dev-master is v2 of GUMP... It's not compatible with current master. So this issue is still not resolved. Sad... Going to look for another validation class.

[2018-10-09 17:39] #246 closed

[2018-10-13 08:14] telemoes opened #265 "Regex issue or i do something wrog"
Hello,

I use GUMP in my own framework and it work great but i have make my own regex but this is not working

`$rules['tag'] = 'required|regex,/[A-Za-z0-9-\s\']/|max_len,128';`
When i fillout with evenything in de regex is works great but when i fillout 6.50 (point is not in the regex) then the rule is good in my opion is the rue wrong because the point.

Or do i something wrong?

Greetings Marti

[2018-10-18 19:24] ariaieboy opened #266 "composer version is different"
the composer version is different with github version
can you submit the newest changes to composer ?

[2018-10-29 12:37] deba12 commented on #263
I hacked up something like this bellow

[code]
and validation rule:
[code]

[2018-10-30 05:37] flik opened #267 "html characters in error response"
How can I avoid html characters in validation error responses...

The <span class=\"ParamValidator-field\">Username<\/span> field is required

I want message like: The Username field is required

[2018-10-30 15:10] PlayTimeAlex commented on #266
Guys. This is not funny. Found bug in code. Fixed this bug and try add to repo. And what I see?  This bug was fixed in 1 Nov 2017
https://github.com/Wixel/GUMP/issues/218

[2018-11-05 13:52] Pizylon opened #268 "On validate_integer passes if boolean given"
Passing a boolean on GUMP::is_valid(["test"=>true],["test"=>"required|integer"]); returns true

[2018-11-11 11:00] telemoes opened #269 "Slug is not working"
Hello is used for the firsttime the funtion slug but its not working.

`    protected function filter_slug($value, $params = null)
    {
        $delimiter = '-';
        $slug = strtolower(trim(preg_replace('/[\s-]+/', $delimiter, preg_replace('/[^A-Za-z0-9-]+/', $delimiter, preg_replace('/[&]/', 'and', preg_replace('/[\']/', '', iconv('UTF-8', 'ASCII//TRANSLIT', $str))))), $delimiter));

[2018-11-15 20:36] ariaieboy commented on #266
@bevmerriman @nicovanzyl @SeanNieuwoudt
any plan to update composer version ?????

[2018-11-16 05:59] SeanNieuwoudt commented on #266
Yes @ariaieboy

We'll be updating the v1 branch on composer soon, but at the moment we're also focused on the re-write of GUMP v2.

[2018-11-16 06:02] SeanNieuwoudt commented on #266
I've updated the release on Composer.

[2018-11-16 06:02] #266 closed

[2018-11-16 06:02] SeanNieuwoudt commented on #230
Thanks for the tip @MauroCoder

[2018-11-16 06:03] SeanNieuwoudt commented on #269
Thanks @telemoes

I'm checking this out

[2018-11-19 15:00] er0sion commented on #228
alphadash is broken in 1.5.7 again.

[2018-11-27 13:16] adarshmadrecha commented on #267
I am also looking for same functionality. It would be excellent if we can turn off or on html characters in error response.

[2018-11-27 17:08] flik commented on #267
Yes we can do in this way
`GUMP::xss_clean($is_valid);`

[2018-12-21 08:52] HarmonyTalk opened #273 "Filter Rules not work"
I have this code for check post data:

[code]

In Action Validation rules work fine and true, But when I need to print filter rule my code not work ie:

I send customer_username with this data : `AAAAAAAAAA`

I set Filter rule to : `lower_case`  And print using `echo $_POST['customer_username'];`

But In Output I see :  `AAAAAAAAAA`

How do can i fix this error and print filtered data?

[2018-12-23 20:07] wrdickson opened #274 "documentation for custom validators- GUMP::set_error_message()"
When creating a custom validator with GUMP:add_validator(), I was getting errors about there being no error message, which of course, there wasn't.  I dug into the code and found GUMP::set_error_message(), which fixed the problem.

I'm just saying the README section on "Creating your own validators and filters" might mention this and save new users some time and frustration.

[2018-12-29 06:19] S3lfC0d3r commented on #82
U Can Fix this problem?!

[2019-01-11 06:31] shyaminayesh commented on #258
builds are check for PHP 5.6 and above I think :thinking:

[2019-01-15 15:55] LAMASPANZER opened #276 "alpha_dash numeric ?"
Again, the alpha_dash validation doesn't work correctly
In the manual you say:
alpha_dash Ensure only alpha-numeric characters + dashes and underscores are present in the key value (a-z, A-Z, **0-9**, _-)
But the method can't match with the regular expression.
/^([a-zÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÒÓÔÕÖßÙÚÛÜÝàáâãäåçèéêëìíîïðòóôõöùúûüýÿ_-])+$/i
Numeric [0-9] or not ? Need native alphanumeric__dash ?

[2019-01-18 19:39] shyaminayesh commented on #276
seems like it's a duplicate issue of #228 :thinking: :thinking: :thinking:

I already submitted a pull request but it didn't got merged yet. dunno if the project is dead or something ? :thinking:

[2019-01-22 08:59] #276 closed

[2019-01-22 13:50] SeanNieuwoudt commented on #274
Thanks @wrdickson

[2019-02-27 11:27] Blaztix opened #277 "Stop validation on first failure"
A validator like laravel bail, stop validation process and return error at this point.

For example, if a value has more than one error return only the first, or in addition a unique (custom validator, check in DB if value exists)

[2019-03-01 00:50] Blaztix opened #278 "Use mb_convert_case inset current functions"
The filter functions need be update, function sucks with `á ú ö`

**filter_upper_case()**
`strtoupper($value)` -> `mb_convert_case( $value, MB_CASE_LOWER )`

**filter_lower_case()**
`strtolower($value)` -> `mb_convert_case( $value, MB_CASE_UPPER)`

And Add

**filter_title_case()**
`mb_convert_case( $value, MB_CASE_TITLE)`

[2019-04-30 14:04] emveeoh opened #281 "Validate dynamically-created inputs with same name"
I am dynamically adding inputs to my form. They all have the same "name=myField" attribute.  When I try to validate them, they all throw an error if any one of them is blank.

Is GUMP able to handle this situation? If so, I would really appreciate some direction.

[2019-05-16 09:41] telemoes commented on #263
Is it not beter to make a new function for this with gump::add_validator?
because when you update your script the changes are gone.

[2019-06-12 04:07] reatang opened #283 "There is a question about required_file validation"
Thank you for checking out my question，and I have two questions
1、
[codeL396](https://github.com/Wixel/GUMP/blob/master/gump.class.php#L396) - [codeL410](https://github.com/Wixel/GUMP/blob/master/gump.class.php#L410)

I don't understand what's going on here, why would you need to specifically deal with the `required_file` field here

2、
[codeL398](https://github.com/Wixel/GUMP/blob/master/gump.cla

[2019-09-04 07:08] franzvinzenz opened #284 "idn_to_ascii ERROR on PHP 7.3"
On Line 1526 change:
            if (checkdnsrr(idn_to_ascii($url), 'A') === false) {
to:
            if (checkdnsrr(idn_to_ascii($url, IDNA_DEFAULT, INTL_IDNA_VARIANT_UTS46), 'A') === false) {

[2019-09-16 08:42] SeanNieuwoudt commented on #269
@pixeline Merged - thanks!

[2019-09-16 08:42] #269 closed

[2019-09-30 14:41] fadouaBelhabib opened #287 "alpha_dash filter does not accept numbers !"
Hello,

Using the last version (1.5.7), the `alpha_dash` filter does not allow numbers in the provided string :

**myValidator.yml :**

fileName: 'alpha_dash|required'

- With _Test_ABC_  ===> OK
- With _Test_1234_ ===> `field may only contain letters and dashes`

Thanx.

[2019-11-21 11:17] IbrahimTanyalcin commented on #287
I was just gonna open the same issue. This is correct. The naming convention is correct 'alpha_dash', intuitively implying letters + dash. Either:
- updating the readme
- adding a new validation 'alpha_numeric_dash'
will do.

[2019-11-27 12:24] Fravadona opened #289 "NULL char in file name when validating file fields"
Hi all,

When writing my own functions for input field validation I've got to know of GUMP, which is very promising.

I wanted you to known that there's a potential security issue with the file validation: the well known "NULL char injection". The criticality of it depends on what you do with the user provided filename, but if you ever encounter a NULL char in a filename then you would better reje

[2020-02-03 02:20] ikkez opened #292 "custom validator return value"
https://github.com/Wixel/GUMP/blob/26de1a52d20fe9178d418c368ab4fefdb973e72c/gump.class.php#L450-L451

how is this going to work? When my custom validator returns false, it obviously can't be an array!?
It's failing hard at this point.

[2020-02-13 20:42] #292 closed

[2020-02-13 20:43] filisko commented on #292
Thank you for reporting

[2020-02-19 19:09] #284 closed

[2020-02-19 19:10] filisko commented on #284
Thank you for reporting @franzvinzenz

[2020-02-19 20:29] philsbury opened #293 "get_magic_quotes_gpc is deprecated in PHP 7.4"
Hi,

We are now getting deprecation warnings relating to `get_magic_quotes_gpc`. As this has always returned false since 5.4.0 can it be removed?

Thanks

[2020-02-19 20:47] filisko commented on #293
Thank you for reporting. You're right, we have to look into this. PR's are welcome :)

[2020-02-19 21:13] philsbury commented on #293
Hi @filisko, cool, created that in [294](https://github.com/Wixel/GUMP/pull/294). As the `$magic_quotes` would have been false, I've just removed it, and then the conditional `stripslashes`

[2020-02-21 10:51] filisko commented on #293
Solved. Thank you

[2020-02-21 10:51] #293 closed

[2020-02-21 15:06] filisko commented on #289
The library itself just checks that the file was submitted, the next part is delegated to developers (save the file, check it doesn't overwrite any other file, etc.).

[2020-02-21 15:16] #268 closed

[2020-02-21 15:26] filisko commented on #278
Feel free to do a PR ?

[2020-02-22 20:30] filisko commented on #277
GUMP does it now too. Thanks

[2020-02-22 20:30] #277 closed

[2020-02-22 20:33] filisko commented on #287
Just updated the docs. Feel free to PR for `alpha_numeric_dash` validator @IbrahimTanyalcin

[2020-02-22 20:34] filisko commented on #283
Feel free to PR anything, thank you.

[2020-02-22 20:34] #283 closed

[2020-02-22 20:37] filisko commented on #229
You can set your error message with set_error_message().

[2020-02-22 20:37] #229 closed

[2020-02-22 20:43] filisko commented on #230
Just do something like this in your custom validator:

[code]

[2020-02-22 20:43] #230 closed

[2020-02-22 20:45] filisko commented on #274
Documented.

[2020-02-22 20:45] #274 closed

[2020-02-22 20:45] filisko commented on #267
Use **get_errors_array()**

[2020-02-22 20:45] #267 closed

[2020-02-22 20:56] filisko commented on #265
Sorry but this its your regex pattern problem.

[2020-02-22 20:56] #265 closed

[2020-02-22 21:06] filisko commented on #262
Thanks @Denninjo ! :tada:

[2020-02-22 21:06] #262 closed

[2020-02-22 21:07] filisko commented on #252
But why you don't update it !!!

[2020-02-22 21:07] #252 closed

[2020-02-22 21:12] filisko commented on #258
Travis CI runs from 7.2 > now

[2020-02-22 21:12] #258 closed

[2020-02-22 21:13] #245 closed

[2020-02-22 21:16] #207 closed

[2020-02-22 21:17] #255 closed

[2020-02-22 21:18] filisko commented on #202
Yes, something like a validator integrated with HTMLPurifier would be nice.

[2020-02-22 21:18] #202 closed

[2020-02-22 21:20] filisko commented on #228
Create alpha_dash never accepted numbers and it will not. Create alpha_dash_number instead.

[2020-02-22 21:20] #228 closed

[2020-02-22 21:21] filisko commented on #264
This is something in your side.

[2020-02-22 21:21] #264 closed

[2020-02-22 21:22] filisko commented on #106
This is already added in Docs as TODO.

[2020-02-22 21:22] #106 closed

[2020-02-22 21:22] #219 closed

[2020-02-22 21:23] filisko commented on #219
Please try giving more details.

[2020-02-22 21:23] #287 closed

[2020-02-22 21:26] filisko commented on #209
But docs were wrong. alpha_numeric_dash is added to TODO list.

[2020-02-22 21:26] #209 closed

[2020-02-22 21:30] Blaztix commented on #278
I do, https://github.com/Wixel/GUMP/pull/295

[2020-02-22 21:35] filisko commented on #276
Just added alpha_numeric_dash

[2020-02-22 21:36] filisko commented on #203
Feel free to do a PR ?

[2020-02-22 21:36] #203 closed

[2020-02-22 21:38] filisko commented on #253
Non-required fields are optional by default?

[2020-02-22 21:38] #253 closed

[2020-02-22 21:39] #289 closed

[2020-02-22 21:41] filisko commented on #281
Better example please?

[2020-02-22 21:45] filisko commented on #158
Update this please.

[2020-02-22 21:45] #158 closed

[2020-02-22 21:48] #242 closed

[2020-02-22 21:53] #120 closed

[2020-02-28 15:11] vasileios-tsakalis opened #296 "Function get_magic_quotes_gpc() is deprecated"
Hello seems get_magic_quotes_gpc() function has been dropped in PHP 7.4, so gump library doesn't work. Please update your library, we love it!

[2020-02-28 15:21] filisko commented on #296
This has already been fixed in #294

[2020-02-28 15:21] #296 closed

[2020-02-28 17:33] filisko commented on #273
Check docs please. This is not how GUMP works, GUMP will never change globals.

[2020-02-28 17:33] #273 closed

[2020-02-28 17:42] filisko commented on #233
This is already addressed in #102

[2020-02-28 17:42] #233 closed

[2020-02-28 17:43] #281 closed

[2020-03-02 09:28] vatgia opened #297 "version 1.6.1 has error"
I upgrade wixel/gump from 1.5.7 to 1.6.1, then há a problem

Parse error: syntax error, unexpected '=' in /app/vendor/wixel/gump/gump.class.php on line 436

Please help me.

[2020-03-02 17:49] filisko commented on #297
what PHP version are you using?

[2020-03-04 01:47] vatgia commented on #297
I run version 7.0.x

[2020-03-04 11:45] leigh-ols opened #298 "Broken backwards compatibility with php7"
Recent update broke backwards compatibility.

https://github.com/Wixel/GUMP/blob/6f7a1fe06cc0bbb2e6893e600d1e44fc7e11140f/gump.class.php#L436

If this was intentional it may have been wise to reflect it in the composer.json

[2020-03-04 16:42] filisko commented on #297
Fixed. Update to 1.6.2 please. Thanks for reporing!

[2020-03-04 16:42] #297 closed

[2020-03-04 16:43] filisko commented on #298
Fixed. Update to 1.6.2 please. Thanks for reporing!

[2020-03-04 16:43] #298 closed

[2020-03-04 16:59] filisko commented on #278
Done 13a9baf

[2020-03-04 16:59] #278 closed

[2020-03-07 16:54] filisko commented on #102
Fixed. As simple as using array format.
https://github.com/Wixel/GUMP/releases/tag/v1.7.0

[2020-03-07 16:54] #102 closed

[2020-03-08 19:05] filisko commented on #250
In the meantime you can use $gump->get_errors_array() which returns field, value and rule that failed, then you can use your own helpers to create your error messages.

[2020-03-09 09:49] Mutusen opened #302 "integer and boolean validation rules with empty values"
Hi, thank you for this project, I find it very useful and simple. Since version 1.7 update it seems like the `integer` and `boolean` validation rules (and presumably other filters) return `false` when given an empty value. It is inconvenient, because it cannot validate an optional numeric field, and unchecked checkboxes sent through an HTML have no value, so it effectively makes checkboxes with th

[2020-03-09 10:54] #302 closed

[2020-03-09 10:54] filisko commented on #302
Thanks  🎉

[2020-03-09 10:59] filisko commented on #302
https://github.com/Wixel/GUMP/releases/tag/v1.8.1

[2020-03-09 21:05] filisko commented on #250
Released in 1.9.0

[2020-03-09 21:05] #250 closed

[2020-03-18 09:40] filisko commented on #216
Done in 1.11.0 release.

[2020-03-18 09:40] #216 closed

[2020-04-12 17:53] netz0 opened #307 "Regex Crashes GUMP"
It seems there is something wrong in how GUMP handles regex validations. I have tried every possible hostname/FQDN regex combination and GUMP will trow a PHP error on all tests.

Same regex matches work fine while using straight PHP preg_match pattern without GUMP.

Example of regex that will break GUMP:
_`'host' => 'regex,/^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-

[2020-04-12 19:27] netz0 commented on #307
It seems this is related to some fix with brackets on arrays, except since you removed the examples starting on version 1.6 its impossible to see how the new array format works. Why was the example folder removed? The README does not replace real code examples.

[2020-04-14 19:31] filisko commented on #307
I can see a pipe on your regex. `|`

There is a note in readme saying this.

If you use Pipe or Semicolon as parameter value, you must use array format.
https://github.com/Wixel/GUMP/blob/master/README.md#star-available-validators

[2020-04-14 19:33] #307 closed

[2020-04-15 16:54] hslimen opened #308 "Required validator does not apply to array type inputs"
can that solve the problem ?

[2020-04-17 15:08] ashuradev opened #309 "Validate field only if is present and is not empty?"
I would like to suggest a rule to ignore other rules for a field if the field is empty. Like `nullable` rule on Laravel Validator.

[2020-04-18 11:14] filisko commented on #308
what are your filters and what is your input? $filters / $data

[2020-04-18 19:29] #309 closed

[2020-04-23 21:43] netz0 opened #310 "Helpers Class Not Found"
I had an older GUMP version running fine. But it seems the latest versions gives me errors.

The examples folder is gone (was on older versions) and I'm using the same code for testing:

[code]

**Fatal error: Uncaught Error: Class 'GUMP\EnvHelpers' not found in /home/dev/GUMP/gump.class.php:160 Stack trace: #0 /home/dev/GUMP/gump.class.php(61): GUMP->__construct() #1 /home/dev/GUMP/gump.class.php

[2020-04-24 16:08] filisko commented on #310
Just include the file (require_once, include...) or use composer.

[2020-04-24 16:08] #310 closed

[2020-04-24 18:04] netz0 commented on #310
I do use composer. Makes no difference.

[2020-04-24 19:25] filisko commented on #310
then you don't have to require it

[2020-04-24 20:15] netz0 commented on #310
I tried both ways, manually or with the auto loader. I have no idea why its not working for me while the old version worked fine on the same box. I will try to research my test server since for some reason it does not like something about the lang folder that was in previous releases.

It seems its trying to load something related to the language file and it cannot find the proper class.

[2020-04-24 20:33] filisko commented on #310
1. Start a totally new project.
2. Install GUMP with composer.
3. Try your validations with your language

[2020-04-28 09:20] phatnt93 opened #311 "Contribute a Vietnamese translation"
Hi,
I regularly use this library and love it.
I want to contribute a Vietnamese translation.

Link: [vi.php](https://drive.google.com/open?id=1yQuTK4-D8hY3FiVfd81T8c3IJt4-X0us)

Thanks.

[2020-04-28 09:59] filisko commented on #311
Could you do a pull request please?

[2020-04-28 10:33] phatnt93 commented on #311
I'm done.

[2020-04-28 10:34] #311 closed

[2020-05-05 14:26] #308 closed

[2020-06-23 09:27] sitenzo commented on #235
Is there any progress on this validator?

[2020-07-02 14:33] chunchillo opened #313 "Add character Ñ in validate"
Hi. Best regards.

could will consider on future versions add a "Ñ" in validators "alphas"?
eg
in "validate_alpha" change
`/^([a-zÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÒÓÔÕÖßÙÚÛÜÝàáâãäåçèéêëìíîïðòóôõöùúûüýÿ])+$/i`
to
`/^([a-zñÑÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÒÓÔÕÖßÙÚÛÜÝàáâãäåçèéêëìíîïðòóôõöùúûüýÿ])+$/i`
only add string `ñÑ` ... its help is for languaje spanish.

So, i have mi own class gump with this code for now =)
[code]

Thanks so mu

[2020-09-14 14:56] KrasilnikovKB opened #314 "FILTER_SANITIZE_STRING corrupt JSON-string"
$value = filter_var($value, **FILTER_SANITIZE_STRING**); in sanitize-function is corrupt JSON-string :(

after FILTER_SANITIZE_STRING json_decode($value) in validate_valid_json_string-function return false.

[for example](http://sandbox.onlinephpfunctions.com/code/f9c9315a2364e8cec6028eef46b308bf5cab94d0):

![image](https://user-images.githubusercontent.com/16627494/93101887-8047f600-f6b3-11ea-8a7

[2020-09-26 10:39] filisko commented on #314
use valid_json_string? You issue does not belong here.

[2020-09-26 10:39] #314 closed

[2020-09-26 10:40] filisko commented on #313
can you create a Pull request?

[2020-09-26 11:29] #313 closed

[2020-10-03 13:44] VivekMoyal28 commented on #310
I was also facing this issue and i have used the
require_once '../vendor/autoload.php';
before the Gump class and its working fine

[2020-11-12 12:55] ocean90 opened #315 "Validation for empty array fields doesn't seem to work"
Example:

[code]

In the above example I'd expect that the result is not valid for both fields since their value is empty. Am I'm missing something here?

[2020-11-17 20:36] ocean90 opened #316 "Filter can override field's array data with references to another non-array field data"
Example:

[code]

The above creates the following output:

[code]

[2020-12-11 02:01] gillytech opened #318 "Deprecation warning with PHP 8"
Just upgraded to PHP 8 on my local and seeing this warning on a number of lines in `gump.class.php`:

[code]

Looks like there are a number of methods which have a required parameter following an optional parameter. This practice, of course, nullifies the fact of any optionality of the preceding parameter.

[2020-12-13 17:54] #316 closed

[2020-12-21 18:20] iamludal opened #319 "Get valid data"
## Feature request

Currently, `$gump->run($data)` returns `$data`, which is redundant, and would return unwanted keys.

As this might be useful though in some cases that I don't know about, I suggest a new method to only get valid data.

## Example
[code]

[2021-01-19 19:44] applibs opened #321 "Some warnings"
1.
This line:
return preg_match("/^([a-z \p{L} '-])+$/i", $value) > 0;
Has warning: "/u modifier is missing (unicode codepoints found)"

After change it to this its OK:
return preg_match("/^([a-z \p{L} '-])+$/ui", $value) > 0;

2.
__toString must return string (resolved: 'array|string')
at this line:
return $this->get_readable_errors(true);
and this will fix warning:
return (string)$this->get_read

[2021-02-16 10:57] iamludal opened #322 "PHP 8 : Deprecated warnings"
When using PHP 8.0, one get these deprecated warnings :

![Deprecated](https://i.imgur.com/3mKNHPx.png)

I tried to run `error_reporting(E_ALL ^ E_DEPRECATED)`, but this doesn't change anything.

I think it's because these are PHP depreciation messages, not users' ones.

https://php.watch/versions/8.0/deprecate-required-param-after-optional

[2021-02-25 07:46] adaniello opened #323 "alpha_dash skip uppercase characters"
Hi, this role skip uppercase characters, this because `a-z` patter is insufficient: should use `a-zA-Z`.

Thanks

[2021-02-25 07:51] #323 closed

[2021-02-25 07:51] adaniello commented on #323
Using insensitive flag

[2021-02-28 14:18] machernator commented on #322
PHP deprecates optional parameters BEFORE required ones. The optional ones should always follow after the required ones.

[2021-02-28 16:05] iamludal commented on #322
Exactly

[2021-04-05 02:58] vzool opened #325 "[QUERY] How to write a rule to make password required on Create and optional on Update?"

[2021-04-21 18:09] mrniamster opened #326 "valid_twitter is not working"
When giving a username to twitter, it's giving the below error
Tried : @username
![image](https://user-images.githubusercontent.com/52563039/115600743-a2b18a00-a2fa-11eb-965a-8de3d0abce10.png)

without @ only username
![image](https://user-images.githubusercontent.com/52563039/115601070-fae88c00-a2fa-11eb-93da-c981cb2bcabd.png)

[2021-07-20 10:47] Raphael-MOUQUIN commented on #322
that makes sense? thanks v. 8 !!

[2021-07-20 10:49] Raphael-MOUQUIN commented on #315
no, they should NOT be valid imho

[2021-07-20 10:52] Raphael-MOUQUIN commented on #315
but maybe coz they are empty?

here you cast to light an important "feature" ,  //thinking about empty forms//

it shows i guess it's the programmer's responsability to chek for empty data PRIOR validation,  humm... there must be some default settings regarding empty data sets ; i'm going to investigate the unit tests right now. Hang on

[2021-07-20 10:56] Raphael-MOUQUIN commented on #315
can't find. they are 43 Validators in https://github.com/Wixel/GUMP/tree/master/tests/Validators but none for empty array()

[2021-07-20 10:58] Raphael-MOUQUIN commented on #315
in those 43 files they are a total of 38 calls to  function testWhenInputIsEmptyAndNotRequiredIsSuccess() but can't find empty array() tests

[2021-07-20 11:00] Raphael-MOUQUIN commented on #315
P.S. @ocean90  for your issue to be seen i'd suggest you rename its title to e.g. Empty [] arrays NOT ... or EMPTY ARRAYS .... smth

[2021-07-20 11:19] Raphael-MOUQUIN commented on #316
+1

[2021-08-24 14:00] applibs commented on #322
Optional parameter is provided before required:
protected function validate_required($field, array $input, array $params = [], $value)

[2021-10-06 20:00] iamludal commented on #322
@nowpc2 yes, it looks like this project is not maintained anymore.

[2021-11-29 08:25] ponasromas opened #329 "PHP8 deprecated warning"
Here is unresolved warning for PHP 8.0/8.1.

PHP Deprecated:  Constant FILTER_SANITIZE_STRING is deprecated

`/vendor/wixel/gump/gump.class.php on line 1047`

I will not even bother to push fix for this as Wixel does not merge any changes for a long time. Quick fix: Change FILTER_SANITIZE_STRING to FILTER_UNSAFE_RAW.

[2022-02-02 20:01] guiiamorim commented on #322
Hello @sn, any news on this? I'm also facing this issue and would like to know if this package will be updated.

[2022-02-11 15:53] machernator commented on #325
This should be handled in two different requests and two different rules. As rules are arrays, you can pass the same array but overwrite the given rule(s) on update.

[2022-06-02 03:35] damithdex opened #331 "Filter Rules are not working for Form array inputs"
This is the post array after applying filter rules. I just tired the upper_case and trim filters but those are only applying to primary array elements such as company name, short code. Filters do not apply to sub array elements such as first name, last name etc..
Please note that validation rules are working properly.

[code]

[2022-07-09 18:25] Joelfo opened #332 "How can I add an error message for a validation method created in a class that extends GUMP?"
I want to simply add a specific error message to appear if the validation function created inside the class return false. How can I do this? The instructions on the README.md do not seem to cover this issue.
Thanks!

[2022-07-12 21:29] hayusama commented on #329
it is imperative to push this modification... it allows to have a fix for php 8+

[2022-07-12 21:33] filisko commented on #329
We need migrate Travis CI to GitHub CI first in order to see how it affects previous versions of PHP

[2022-07-14 12:52] filisko commented on #329
@ponasromas @hayusama using `FILTER_UNSAFE_RAW` is actually VERY bad idea.

Any other proposal?

[2022-07-14 13:01] ponasromas commented on #329
No. PHP declares that FILTER_SANITIZE_STRING == FILTER_UNSAFE_RAW . So both solutions are not the best.

[2022-07-14 13:07] filisko commented on #329
They're not the same. Unsf

https://github.com/Wixel/GUMP/blob/master/tests/Filters/SanitizeStringFilterTest.php

[2022-07-14 16:15] filisko commented on #329
The test says what it does? :D

Nope, they're not equivalent.

https://www.php.net/manual/en/filter.filters.sanitize.php

[2022-07-14 23:08] filisko commented on #329
Fixed in https://github.com/Wixel/GUMP/pull/334

[2022-07-14 23:08] #329 closed

[2022-07-14 23:08] filisko commented on #326
Sorry, it is deprecated now.

[2022-07-14 23:08] #326 closed

[2022-07-14 23:09] #322 closed

[2022-07-14 23:10] filisko commented on #318
Fixed now in https://github.com/Wixel/GUMP/pull/334

Will be released in 2.0.0 with support for php8.

[2022-07-14 23:10] #318 closed

[2022-07-14 23:11] filisko commented on #332
@Joelfo yes it does cover it.

https://github.com/Wixel/GUMP#other-available-methods

[code]

just replace GUMP with your class.

[2022-07-14 23:11] #332 closed

[2022-07-15 09:07] filisko commented on #315
Fixed now.

Way to use it:

[code]

[2022-07-15 09:07] #315 closed

[2022-07-15 09:15] filisko commented on #325
exactly! @machernator

[2022-07-15 09:15] #325 closed

[2022-08-08 09:34] machernator commented on #331
GUMP works on a one level array of values. One simple solution would be to take array values out of the configuration and create a separate Validator for these array values.

Another solution would be to create an array Validator that does that for you. But where to stop? I had forms with three array levels. You could do some form of recursive validation, but how do you manage the error messages?

[2022-08-20 10:04] #331 closed

[2022-08-20 10:05] filisko commented on #321
Fixed probably as pipelines pass without warnings.

[2022-08-20 10:05] #321 closed

[2022-10-27 15:21] j-masci commented on #332
I'm not understanding why the error messages are static, we should be able to set custom everything on a per-instance basis when needed. With extending the class and adding filter_* and validate_* methods, you can set custom filters/validators on a per instance basis, but then why do the error messages associated with those validators have to be global? I would like to be able to make a function t